<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 用户组表 -->
<mapper namespace="com.buit.his.user.dao.SysGroupDao">

    <!-- 用于select查询公用抽取的列 -->
    <sql id="columns">
		GROUP_ID as groupId,DATA_VERSION as dataVersion,
		GMT_CREATE
		as gmtCreate,GMT_MODIFY as gmtModify,
		HOSPITAL_ID as
		hospitalId,GROUP_CODE as groupCode,
		GROUP_NAME as groupName,STOP_FLAG
		as stopFlag,
		PY_CODE as pyCode,WB_CODE as wbCode,
		GROUP_TYPE as
		groupType,HOMEPAGE_URL as homepageUrl,
		GROUP_SEQ as groupSeq,
		ICON as icon,bt_id as btId,
		SYSTEM_TYPE as systemType
	</sql>

    <insert id="insert">
		INSERT INTO SYS_GROUP (
		GROUP_ID ,
		DATA_VERSION ,
		GMT_CREATE ,
		GMT_MODIFY ,
		HOSPITAL_ID ,
		GROUP_CODE ,
		GROUP_NAME ,
		STOP_FLAG ,
		PY_CODE ,
		WB_CODE ,
		GROUP_TYPE ,
		HOMEPAGE_URL,
		GROUP_SEQ,
		ICON,
		bt_id,
		SYSTEM_TYPE
		)
		VALUES (
		#{groupId} ,
		#{dataVersion} ,
		#{gmtCreate} ,
		#{gmtCreate} ,
		#{hospitalId} ,
		#{groupCode} ,
		#{groupName} ,
		#{stopFlag} ,
		#{pyCode} ,
		#{wbCode} ,
		#{groupType} ,
		#{homepageUrl},
		#{groupSeq},
		#{icon},
		#{btId},
		#{systemType}
		)
	</insert>

    <update id="update">
		UPDATE SYS_GROUP set
			GROUP_SEQ = #{groupSeq},GROUP_CODE = #{groupCode},GROUP_NAME = #{groupName},PY_CODE = #{pyCode},WB_CODE = #{wbCode},ICON = #{icon},HOMEPAGE_URL = #{homepageUrl},GMT_MODIFY = #{gmtModify},DATA_VERSION = DATA_VERSION + 1,bt_id = #{btId},SYSTEM_TYPE = #{systemType}
		WHERE
			GROUP_ID = #{groupId}
	</update>

    <delete id="deleteById">
		DELETE FROM SYS_GROUP WHERE
		GROUP_ID = #{groupId}
	</delete>

    <update id="editEnable" parameterType="java.lang.Integer">
        UPDATE SYS_GROUP SET
        <if test="@sqlt.Ognl@isNotEmpty(stopFlag)">
            STOP_FLAG = #{stopFlag}
        </if>
        WHERE
        GROUP_ID = #{groupId}
    </update>

    <delete id="removeByEntity">
        DELETE FROM SYS_GROUP
        <include refid="where"/>
    </delete>

    <select id="getById" resultType="SysGroup">
        SELECT
        <include refid="columns"/>
        FROM SYS_GROUP
        WHERE
        GROUP_ID = #{groupId}
    </select>

    <sql id="where">
        <where>
            <if test="@sqlt.Ognl@isNotEmpty(groupCode)">
                AND GROUP_CODE = #{groupCode}
            </if>
            <if test="@sqlt.Ognl@isNotEmpty(hospitalId)">
                AND HOSPITAL_ID = #{hospitalId}
            </if>
            <if test="@sqlt.Ognl@isNotEmpty(groupName)">
                AND (
                GROUP_NAME LIKE CONCAT(CONCAT('%',#{groupName}),'%')
                or PY_CODE LIKE CONCAT(CONCAT('%',#{groupName}),'%')
                or WB_CODE LIKE CONCAT(CONCAT('%',#{groupName}),'%')
                )
            </if>

            <if test="@sqlt.Ognl@isNotEmpty(groupId)">
                AND GROUP_ID = #{groupId}
            </if>

            <if test="@sqlt.Ognl@isNotEmpty(systemType)">
                AND SYSTEM_TYPE = #{systemType}
            </if>
            <!-- <if test="@sqlt.Ognl@isNotEmpty(dataVersion)"> -->
            <!-- AND DATA_VERSION = #{dataVersion} -->
            <!-- </if> -->
            <!-- <if test="@sqlt.Ognl@isNotEmpty(gmtCreate)"> -->
            <!-- AND GMT_CREATE = #{gmtCreate} -->
            <!-- </if> -->
            <!-- <if test="@sqlt.Ognl@isNotEmpty(gmtModify)"> -->
            <!-- AND GMT_MODIFY = #{gmtModify} -->
            <!-- </if> -->
            <!-- <if test="@sqlt.Ognl@isNotEmpty(hospitalId)"> -->
            <!-- AND HOSPITAL_ID = #{hospitalId} -->
            <!-- </if> -->
            <!-- <if test="@sqlt.Ognl@isNotEmpty(groupCode)"> -->
            <!-- AND GROUP_CODE = #{groupCode} -->
            <!-- </if> -->
            <!-- <if test="@sqlt.Ognl@isNotEmpty(groupName)"> -->
            <!-- AND GROUP_NAME = #{groupName} -->
            <!-- </if> -->
            <if test="@sqlt.Ognl@isNotEmpty(stopFlag)">
                AND STOP_FLAG = #{stopFlag}
            </if>
            <!-- <if test="@sqlt.Ognl@isNotEmpty(pyCode)"> -->
            <!-- AND PY_CODE = #{pyCode} -->
            <!-- </if> -->
            <!-- <if test="@sqlt.Ognl@isNotEmpty(wbCode)"> -->
            <!-- AND WB_CODE = #{wbCode} -->
            <!-- </if> -->
            <!-- <if test="@sqlt.Ognl@isNotEmpty(groupType)"> -->
            <!-- AND GROUP_TYPE = #{groupType} -->
            <!-- </if> -->
            <!-- <if test="@sqlt.Ognl@isNotEmpty(homepageUrl)"> -->
            <!-- AND HOMEPAGE_URL = #{homepageUrl} -->
            <!-- </if> -->
            <!-- <if test="@sqlt.Ognl@isNotEmpty(groupSeq)"> -->
            <!-- AND GROUP_SEQ = #{groupSeq} -->
            <!-- </if> -->
        </where>
    </sql>

    <select id="findByEntityCount" resultType="long">
        SELECT count(*) FROM SYS_GROUP
        <include refid="where"/>
    </select>

    <select id="findByEntity" resultType="SysGroup">
        SELECT
        <include refid="columns"/>
        FROM SYS_GROUP
        <include refid="where"/>
        <if test="@sqlt.Ognl@orderIsNotEmpty(sortColumns)">
            ORDER BY ${sortColumns}
        </if>
    </select>
    <!-- 业务sql -->
    <select id="isExistGroupCode" resultType="java.lang.Integer">
        SELECT COUNT(1)
        FROM SYS_GROUP
        <where>
            <if test="@sqlt.Ognl@isNotEmpty(groupCode)">
                AND GROUP_CODE = #{groupCode}
            </if>

            <if test="@sqlt.Ognl@isNotEmpty(groupId)">
                AND GROUP_ID != #{groupId}
            </if>
            <if test="@sqlt.Ognl@isNotEmpty(hospitalId)">
                AND HOSPITAL_ID = #{hospitalId}
            </if>
        </where>
    </select>
    <select id="getMaxSort" resultType="long">
        SELECT MAX(GROUP_SEQ) FROM SYS_GROUP
    </select>
</mapper>

