<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 公用_收费项目 -->
<mapper namespace="com.buit.his.sys.centermaintenance.dao.DicSfxmlbDao">

    <!-- 用于select查询公用抽取的列 -->
    <sql id="columns">
        `SFXM` as `sfxm`,`SFMC` as `sfmc`,`MCSX` as `mcsx`,`FYFL` as `fyfl`,`MZSY` as `mzsy`,`ZYSY` as `zysy`,`MZGB` as `mzgb`,`ZYGB` as `zygb`,`FYLB` as `fylb`,`PYDM` as `pydm`,`BXXM` as `bxxm`,`KMBM` as `kmbm`,`PLSX` as `plsx`,`LBDM` as `lbdm`,`BASYGB` as `basygb`,`MZPL` as `mzpl`,`ZYPL` as `zypl`,`ZBLB` as `zblb`,`YBZYXM` as `ybzyxm`,`YBMZXM` as `ybmzxm`,`NHXM` as `nhxm`,`YWMC` as `ywmc`,`DQSFXMLSH` as `dqsfxmlsh`
    </sql>

    <insert id="insert" >
        INSERT INTO DIC_SFXMLB (
            `SFXM` ,
            `SFMC` ,
            `MCSX` ,
            `FYFL` ,
            `MZSY` ,
            `ZYSY` ,
            `MZGB` ,
            `ZYGB` ,
            `FYLB` ,
            `PYDM` ,
            `BXXM` ,
            `KMBM` ,
            `PLSX` ,
            `LBDM` ,
            `BASYGB` ,
            `MZPL` ,
            `ZYPL` ,
            `ZBLB` ,
            `YBZYXM` ,
            `YBMZXM` ,
            `NHXM` ,
            `YWMC` ,
            `DQSFXMLSH` 
        ) VALUES (
            #{sfxm} ,
            #{sfmc} ,
            #{mcsx} ,
            #{fyfl} ,
            #{mzsy} ,
            #{zysy} ,
            #{mzgb} ,
            #{zygb} ,
            #{fylb} ,
            #{pydm} ,
            #{bxxm} ,
            #{kmbm} ,
            #{plsx} ,
            #{lbdm} ,
            #{basygb} ,
            #{mzpl} ,
            #{zypl} ,
            #{zblb} ,
            #{ybzyxm} ,
            #{ybmzxm} ,
            #{nhxm} ,
            #{ywmc} ,
            #{dqsfxmlsh} 
        )
    </insert>
    
    <update id="update" >
        UPDATE DIC_SFXMLB
        <set>
            <if test="@sqlt.Ognl@isNotEmpty(sfmc)">
                `SFMC` = #{sfmc} ,
            </if>
            <if test="@sqlt.Ognl@isNotEmpty(mcsx)">
                `MCSX` = #{mcsx} ,
            </if>
            <if test="@sqlt.Ognl@isNotEmpty(fyfl)">
                `FYFL` = #{fyfl} ,
            </if>
            <if test="@sqlt.Ognl@isNotEmpty(mzsy)">
                `MZSY` = #{mzsy} ,
            </if>
            <if test="@sqlt.Ognl@isNotEmpty(zysy)">
                `ZYSY` = #{zysy} ,
            </if>
            <if test="@sqlt.Ognl@isNotEmpty(mzgb)">
                `MZGB` = #{mzgb} ,
            </if>
            <if test="@sqlt.Ognl@isNotEmpty(zygb)">
                `ZYGB` = #{zygb} ,
            </if>
            <if test="@sqlt.Ognl@isNotEmpty(fylb)">
                `FYLB` = #{fylb} ,
            </if>
            <if test="@sqlt.Ognl@isNotEmpty(pydm)">
                `PYDM` = #{pydm} ,
            </if>
            <if test="@sqlt.Ognl@isNotEmpty(bxxm)">
                `BXXM` = #{bxxm} ,
            </if>
            <if test="@sqlt.Ognl@isNotEmpty(kmbm)">
                `KMBM` = #{kmbm} ,
            </if>
            <if test="@sqlt.Ognl@isNotEmpty(plsx)">
                `PLSX` = #{plsx} ,
            </if>
            <if test="@sqlt.Ognl@isNotEmpty(lbdm)">
                `LBDM` = #{lbdm} ,
            </if>
            <if test="@sqlt.Ognl@isNotEmpty(basygb)">
                `BASYGB` = #{basygb} ,
            </if>
            <if test="@sqlt.Ognl@isNotEmpty(mzpl)">
                `MZPL` = #{mzpl} ,
            </if>
            <if test="@sqlt.Ognl@isNotEmpty(zypl)">
                `ZYPL` = #{zypl} ,
            </if>
            <if test="@sqlt.Ognl@isNotEmpty(zblb)">
                `ZBLB` = #{zblb} ,
            </if>
            <if test="@sqlt.Ognl@isNotEmpty(ybzyxm)">
                `YBZYXM` = #{ybzyxm} ,
            </if>
            <if test="@sqlt.Ognl@isNotEmpty(ybmzxm)">
                `YBMZXM` = #{ybmzxm} ,
            </if>
            <if test="@sqlt.Ognl@isNotEmpty(nhxm)">
                `NHXM` = #{nhxm} ,
            </if>
            <if test="@sqlt.Ognl@isNotEmpty(ywmc)">
                `YWMC` = #{ywmc} ,
            </if>
            <if test="@sqlt.Ognl@isNotEmpty(dqsfxmlsh)">
                `DQSFXMLSH` = #{dqsfxmlsh}
            </if>
        </set>
        WHERE
        SFXM = #{sfxm}
    </update>

    <delete id="deleteById">
        DELETE FROM DIC_SFXMLB WHERE
        SFXM = #{sfxm}
    </delete>
    
    <delete id="removeByEntity">
        DELETE FROM DIC_SFXMLB <include refid="where"/>
    </delete>
    
    <select id="getById" resultType="DicSfxmlb">
        SELECT <include refid="columns" />
            FROM DIC_SFXMLB 
            WHERE 
        SFXM = #{sfxm} 
    </select>

    <sql id="where">
        <where>
                <if test="@sqlt.Ognl@isNotEmpty(sfxm)">
                     AND SFXM = #{sfxm}
                </if>
                <if test="@sqlt.Ognl@isNotEmpty(sfmc)">
                     AND SFMC = #{sfmc}
                </if>
                <if test="@sqlt.Ognl@isNotEmpty(plsx)">
                     AND PLSX = #{plsx}
                </if>
                <if test="@sqlt.Ognl@isNotEmpty(mzpl)">
                     AND MZPL = #{mzpl}
                </if>
                <if test="@sqlt.Ognl@isNotEmpty(zypl)">
                     AND ZYPL = #{zypl}
                </if>
<!--                <if test="@sqlt.Ognl@isNotEmpty(mcsx)"> -->
<!--                     AND MCSX = #{mcsx} -->
<!--                </if> -->
                <if test="@sqlt.Ognl@isNotEmpty(fyfl)">
                     AND FYFL = #{fyfl}
                </if>
				<if test="@sqlt.Ognl@isNotEmpty(pydm)">
                     AND PYDM LIKE CONCAT(CONCAT('%',UPPER(#{pydm})),'%')
                </if>
<!--                <if test="@sqlt.Ognl@isNotEmpty(mzsy)"> -->
<!--                     AND MZSY = #{mzsy} -->
<!--                </if> -->
                <if test="@sqlt.Ognl@isNotEmpty(zysy)">
                     AND ZYSY = #{zysy}
                </if>
<!--                <if test="@sqlt.Ognl@isNotEmpty(mzgb)"> -->
<!--                     AND MZGB = #{mzgb} -->
<!--                </if> -->
<!--                <if test="@sqlt.Ognl@isNotEmpty(zygb)"> -->
<!--                     AND ZYGB = #{zygb} -->
<!--                </if> -->
<!--                <if test="@sqlt.Ognl@isNotEmpty(fylb)"> -->
<!--                     AND FYLB = #{fylb} -->
<!--                </if> -->
<!--                <if test="@sqlt.Ognl@isNotEmpty(bxxm)"> -->
<!--                     AND BXXM = #{bxxm} -->
<!--                </if> -->
<!--                <if test="@sqlt.Ognl@isNotEmpty(kmbm)"> -->
<!--                     AND KMBM = #{kmbm} -->
<!--                </if> -->
<!--                <if test="@sqlt.Ognl@isNotEmpty(lbdm)"> -->
<!--                     AND LBDM = #{lbdm} -->
<!--                </if> -->
<!--                <if test="@sqlt.Ognl@isNotEmpty(basygb)"> -->
<!--                     AND BASYGB = #{basygb} -->
<!--                </if> -->

<!--                <if test="@sqlt.Ognl@isNotEmpty(zblb)"> -->
<!--                     AND ZBLB = #{zblb} -->
<!--                </if> -->
<!--                <if test="@sqlt.Ognl@isNotEmpty(ybzyxm)"> -->
<!--                     AND YBZYXM = #{ybzyxm} -->
<!--                </if> -->
<!--                <if test="@sqlt.Ognl@isNotEmpty(ybmzxm)"> -->
<!--                     AND YBMZXM = #{ybmzxm} -->
<!--                </if> -->
<!--                <if test="@sqlt.Ognl@isNotEmpty(nhxm)"> -->
<!--                     AND NHXM = #{nhxm} -->
<!--                </if> -->
<!--                <if test="@sqlt.Ognl@isNotEmpty(ywmc)"> -->
<!--                     AND YWMC = #{ywmc} -->
<!--                </if> -->
        </where>
    </sql>

    <select id="findByEntityCount" resultType="long">
        SELECT count(*) FROM DIC_SFXMLB
        <include refid="where"/>
    </select>

    <select id="findByEntity" resultType="DicSfxmlb">
        SELECT <include refid="columns" />
        FROM DIC_SFXMLB
        <include refid="where"/>

        <if test="@sqlt.Ognl@orderIsNotEmpty(sortColumns)">
            ORDER BY ${sortColumns}
        </if>
    </select>
    <!--     业务sql      -->

    <!-- 医疗项目修改前校验 -->
    <select id="findCountNotEqualSfxm" resultType="long">
        SELECT count(*) FROM DIC_SFXMLB
        <include refid="where"/>
          and SFXM &lt;&gt; #{sfxm}
    </select>

    <!-- 查询公用收费项目信息 -->
    <select id="queryDicSfxmlbInfo" resultType="java.util.HashMap">
        select SFXM as FYGB,
		       SFMC as FYMC,
		       '笔' as FYDW,
		       PYDM as PYDM,
		       MZSY as MZSY,
		       ZYSY as ZYSY,
		       '1' as YJSY,
		       '0' as TJFY,
		       '0' as TXZL,
		       '0' as ZFPB,
		       0 as BZJG
		  from DIC_SFXMLB
		 where SFXM = #{sfxm}
    </select>
    <!--中心维护-病人性质-自负比例列表-->
    <select id="queryBrxzZfbl" resultType="DicSfxmlbZfblResp">
        SELECT
            a.SFXM as SFXM,
            a.SFMC as SFMC,
            b.ZFBL * 100 as ZFBL,
            b.BRXZ as BRXZ
        FROM
            DIC_SFXMLB a,
            FEE_SFDLZFBL b
        WHERE
            a.SFXM = b.SFXM
            and b.BRXZ = #{brxz}
        UNION
        SELECT
            SFXM,
            SFMC AS SFXM_text,
            100 AS ZFBL,
            20 AS BRXZ
        FROM
            DIC_SFXMLB
        WHERE
            SFXM NOT IN (
                SELECT
                    SFXM
                FROM
                    FEE_SFDLZFBL
                WHERE
                    BRXZ = #{brxz}
            );
    </select>

    <select id="doQueryGbje"  parameterType="Map" resultType="java.util.Map">
    	SELECT
			b.MZGB AS MZGB,
			ifnull ( b.MCSX, b.SFMC ) AS MCSX,
			sum( a.ZJJE ) AS ZJJE,
			b.MZPL AS MZPL
		FROM
			DIC_SFXMLB b
			LEFT OUTER JOIN OP_SFMX a ON a.SFXM = b.SFXM
			AND a.MZXH = #{MZXH}
		GROUP BY
			b.MZGB,
			b.MZPL,
			b.MCSX,
			b.SFMC
    </select>

    <select id="doQueryGbjeByCondition"  parameterType="Map" resultType="java.util.Map">
    	SELECT
			b.MZGB AS MZGB,
			ifnull ( b.MCSX, b.SFMC ) AS MCSX,
			sum( a.ZJJE ) AS ZJJE,
			b.MZPL AS MZPL
		FROM
			DIC_SFXMLB b
			LEFT OUTER JOIN OP_SFMX a ON a.SFXM = b.SFXM
			AND a.MZXH = #{MZXH}
		WHERE
			a.SFXM = #{SFXM}
		GROUP BY
			b.MZGB,
			b.MZPL,
			b.MCSX,
			b.SFMC
    </select>

    <select id="doQueryGbjeA"  parameterType="Map" resultType="java.util.Map">
    	SELECT
			b.MZGB AS MZGB,
			ifnull ( b.MCSX, b.SFMC ) AS MCSX,
			sum( a.HJJE ) AS ZJJE,
			b.MZPL AS MZPL
		FROM
			DIC_SFXMLB b
			LEFT OUTER JOIN OP_CF02 a ON a.FYGB = b.SFXM,
			OP_CF01 c
		WHERE
			a.CFSB = c.CFSB
			AND c.YFSB = #{YFSB}
			AND c.FPHM = #{FPHM}
			AND c.JGID = #{JGID}
		GROUP BY
			b.MZGB,
			b.MZPL,
			b.MCSX,
			b.SFMC
    </select>

    <select id="doQueryYjGbJe"  parameterType="Map" resultType="java.util.Map">
    	SELECT
			b.MZGB AS MZGB,
			ifnull ( b.MCSX, b.SFMC ) AS MCSX,
			sum( a.HJJE ) AS ZJJE,
			b.MZPL AS MZPL
		FROM
			DIC_SFXMLB b
			LEFT OUTER JOIN OP_YJCF02 a ON a.FYGB = b.SFXM,
			OP_YJCF01 c
		WHERE
			a.YJXH = c.YJXH
			AND c.ZXKS = #{ZXKS}
			AND c.FPHM = #{FPHM}
			AND c.JGID = #{JGID}
		GROUP BY
			b.MZGB,
			b.MZPL,
			b.MCSX,
			b.SFMC
    </select>

    <select id="getYbmzxm"  parameterType="Map" resultType="java.util.Map">
    	SELECT
		  YBMZXM as YBMZXM ,
		  PYDM as YPDM
		FROM
			DIC_SFXMLB
		WHERE
		    SFXM =#{fygb}
    </select>

    <select id="doQuerySfxm"  parameterType="Map" resultType="java.util.Map">
    	SELECT
			SFXM AS SFXM,
			FYFL AS FYFL,
			SFMC AS SFMC
		FROM
			DIC_SFXMLB
		WHERE
			SFXM = #{SFXM}
    </select>
    <select id="nextSfxmbm" resultType="java.lang.String">
        SELECT `DQSFXMLSH` + 1
        FROM DIC_SFXMLB
        WHERE SFXM = #{sfxmlb}
    </select>
    <update id="updateNowSfxmbm">
        UPDATE DIC_SFXMLB SET `DQSFXMLSH` = #{lsh}
        WHERE SFXM = #{sfxmlb}
        AND `DQSFXMLSH` + 1 = #{lsh}
    </update>
    
    <!-- 查询主键 -->
    <select id="queryPkNextNum" resultType="java.lang.Integer">
        select max(sfxm) + 1
        from dic_sfxmlb
    </select>
</mapper>

