<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--  -->
<mapper namespace="com.buit.his.sys.centermaintenance.dao.FeeXmfytj01Dao">

    <!-- 用于select查询公用抽取的列 -->
    <sql id="columns">
        TJDH as tjdh,JGID as jgid,TJFS as tjfs,TJWH as tjwh,ZXGH as zxgh,ZXRQ as zxrq,ZXPB as zxpb,RRGH as rrgh,RRRQ as rrrq,DSRQ as dsrq,SXGH as sxgh,SXRQ as sxrq,SXPB as sxpb
    </sql>

    <insert id="insert">
        INSERT INTO FEE_XMFYTJ01 (
            TJDH ,
            JGID ,
            TJFS ,
            TJWH ,
            ZXGH ,
            ZXRQ ,
            ZXPB ,
            RRGH ,
            RRRQ ,
            DSRQ ,
            SXGH ,
            SXRQ ,
            SXPB 
        ) VALUES (
            #{tjdh} ,
            #{jgid} ,
            #{tjfs} ,
            #{tjwh} ,
            #{zxgh} ,
            #{zxrq} ,
            #{zxpb} ,
            #{rrgh} ,
            #{rrrq} ,
            #{dsrq} ,
            #{sxgh} ,
            #{sxrq} ,
            #{sxpb} 
        )
    </insert>
    
    <update id="update" > 
        UPDATE FEE_XMFYTJ01 SET
            TJFS = #{tjfs} ,
            TJWH = #{tjwh} ,
            ZXGH = #{zxgh} ,
            ZXRQ = #{zxrq} ,
            ZXPB = #{zxpb} ,
            RRGH = #{rrgh} ,
            RRRQ = #{rrrq} ,
            DSRQ = #{dsrq} ,
            SXGH = #{sxgh} ,
            SXRQ = #{sxrq} ,
            SXPB = #{sxpb} 
        WHERE 
            TJDH = #{tjdh}  AND 
                        JGID = #{jgid} 
            
    </update>

    <update id="updateByEntity">
        UPDATE FEE_XMFYTJ01
        <set>
            <if test="@sqlt.Ognl@isNotEmpty(tjwh)">
                TJWH = #{tjwh},
            </if>
            <if test="@sqlt.Ognl@isNotEmpty(tjfs)">
                TJFS = #{tjfs},
            </if>
            <if test="@sqlt.Ognl@isNotEmpty(zxgh)">
                ZXGH = #{zxgh} ,
            </if>
            <if test="@sqlt.Ognl@isNotEmpty(zxrq)">
                ZXRQ = #{zxrq} ,
            </if>
            <if test="@sqlt.Ognl@isNotEmpty(zxpb)">
                ZXPB = #{zxpb} ,
            </if>
            <if test="@sqlt.Ognl@isNotEmpty(rrgh)">
                RRGH = #{rrgh} ,
            </if>
            <if test="@sqlt.Ognl@isNotEmpty(rrrq)">
                RRRQ = #{rrrq} ,
            </if>
            <if test="@sqlt.Ognl@isNotEmpty(dsrq)">
                DSRQ = #{dsrq} ,
            </if>
            <if test="@sqlt.Ognl@isNotEmpty(sxgh)">
                SXGH = #{sxgh} ,
            </if>
            <if test="@sqlt.Ognl@isNotEmpty(sxrq)">
                SXRQ = #{sxrq} ,
            </if>
            <if test="@sqlt.Ognl@isNotEmpty(sxpb)">
                SXPB = #{sxpb},
            </if>
        </set>
        WHERE
        TJDH = #{tjdh}
    </update>

    <delete id="deleteById">
        DELETE FROM FEE_XMFYTJ01 WHERE
        TJDH = #{tjdh}  AND 
        JGID = #{jgid} 
    </delete>

    <delete id="removeByEntity">
        DELETE FROM FEE_XMFYTJ01
        <include refid="where"/>
    </delete>

    <select id="getById" resultType="FeeXmfytj01">
        SELECT
        <include refid="columns"/>
        FROM FEE_XMFYTJ01
        WHERE
        TJDH = #{tjdh} AND
        JGID = #{jgid}
    </select>

    <select id="getByTjdh" resultType="FeeXmfytj01">
        SELECT
        <include refid="columns"/>
        FROM FEE_XMFYTJ01
        WHERE
        TJDH = #{tjdh} AND
        JGID = #{jgid}
    </select>

    <sql id="where">
        <where>
            <if test="@sqlt.Ognl@isNotEmpty(tjdh)">
                AND TJDH = #{tjdh}
            </if>
            <if test="@sqlt.Ognl@isNotEmpty(jgid)">
                AND JGID = #{jgid}
            </if>
            <!--                <if test="@sqlt.Ognl@isNotEmpty(tjfs)"> -->
<!--                     AND TJFS = #{tjfs} -->
<!--                </if> -->
<!--                <if test="@sqlt.Ognl@isNotEmpty(tjwh)"> -->
<!--                     AND TJWH = #{tjwh} -->
<!--                </if> -->
<!--                <if test="@sqlt.Ognl@isNotEmpty(zxgh)"> -->
<!--                     AND ZXGH = #{zxgh} -->
<!--                </if> -->
<!--                <if test="@sqlt.Ognl@isNotEmpty(zxrq)"> -->
<!--                     AND ZXRQ = #{zxrq} -->
<!--                </if> -->
<!--                <if test="@sqlt.Ognl@isNotEmpty(zxpb)"> -->
<!--                     AND ZXPB = #{zxpb} -->
<!--                </if> -->
<!--                <if test="@sqlt.Ognl@isNotEmpty(rrgh)"> -->
<!--                     AND RRGH = #{rrgh} -->
<!--                </if> -->
<!--                <if test="@sqlt.Ognl@isNotEmpty(rrrq)"> -->
<!--                     AND RRRQ = #{rrrq} -->
<!--                </if> -->
<!--                <if test="@sqlt.Ognl@isNotEmpty(dsrq)"> -->
<!--                     AND DSRQ = #{dsrq} -->
<!--                </if> -->
<!--                <if test="@sqlt.Ognl@isNotEmpty(sxgh)"> -->
<!--                     AND SXGH = #{sxgh} -->
<!--                </if> -->
<!--                <if test="@sqlt.Ognl@isNotEmpty(sxrq)"> -->
<!--                     AND SXRQ = #{sxrq} -->
<!--                </if> -->
<!--                <if test="@sqlt.Ognl@isNotEmpty(sxpb)"> -->
<!--                     AND SXPB = #{sxpb} -->
<!--                </if> -->
        </where>
    </sql>
        
    <select id="findByEntityCount" resultType="long">
        SELECT count(*) FROM FEE_XMFYTJ01 
        <include refid="where"/>    
    </select>
    
    <select id="findByEntity" resultType="FeeXmfytj01">
        SELECT <include refid="columns" />
        FROM FEE_XMFYTJ01 
        <include refid="where"/>
        
        <if test="@sqlt.Ognl@orderIsNotEmpty(sortColumns)">
            ORDER BY ${sortColumns}
        </if>
    </select>
    <!--     业务sql      -->
    
    <!-- 查询未执行或已执行调价单列表 -->
    <select id="queryFytjIsExecute" resultType="FeeXmfytj01">
        select <include refid="columns" />
        from FEE_XMFYTJ01 
        where jgid = #{jgid}
        <if test="@sqlt.Ognl@isNotEmpty(tjfs)"> 
             and tjfs = #{tjfs} 
        </if> 
        <if test="@sqlt.Ognl@isNotEmpty(kszxrq) and @sqlt.Ognl@isNotEmpty(jszxrq)">
            and zxrq &gt;= #{kszxrq}
            and zxrq &lt;= #{jszxrq}
        </if>
        <if test="@sqlt.Ognl@isNotEmpty(zxpb)">
            and zxpb = #{zxpb}
        </if>
        order by tjdh desc
    </select>

    <!-- 查询当年最大调价单号 -->
    <select id="queryMaxTjdh" resultType="java.lang.String">
        select max(TJDH) from FEE_XMFYTJ01 where TJDH like CONCAT(#{year} , '%') and JGID = #{jgid}
    </select>

    <!-- 确认操作 -->
    <update id="updateExcuteStatus">
		update FEE_XMFYTJ01 set zxgh = #{zxgh} ,zxrq = #{zxrq}, zxpb = 1 where jgid = #{jgid} and tjdh = #{tjdh} 
    </update>

    <!-- 立即生效 -->
    <update id="updateEffectAdjustment"> 
		update FEE_XMFYTJ01 set sxgh = #{sxgh}, sxrq = #{sxrq}, sxpb = 1 where jgid = #{jgid} 
		and tjdh = #{tjdh} and zxpb = 1 and sxpb = 0
    </update>
    
</mapper>

