<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 公用_医院医疗明细项目 -->
<mapper namespace="com.buit.his.sys.centermaintenance.dao.FeeYlsfxmdjDao">

    <!-- 用于select查询公用抽取的列 -->
    <sql id="columns">
        JGID as jgid,FYXH as fyxh,FYDJ as fydj,FYKS as fyks,ZFPB as zfpb,DZBL as dzbl,ZDCR as zdcr,JGBZ as jgbz,JFYZ as jfyz,XZSY as xzsy,XZCS as xzcs,XZTS as xzts,SBJG as sbjg,CPTCODE as cptcode,YWMC as ywmc
    </sql>

    <insert id="insert">
        INSERT INTO FEE_YLSFXMDJ (
            JGID ,
            FYXH ,
            FYDJ ,
            FYKS ,
            ZFPB ,
            DZBL ,
            ZDCR ,
            JGBZ ,
            JFYZ ,
            XZSY ,
            XZCS ,
            XZTS ,
            SBJG ,
            CPTCODE ,
            YWMC 
        ) VALUES (
            #{jgid} ,
            #{fyxh} ,
            #{fydj} ,
            #{fyks} ,
            #{zfpb} ,
            #{dzbl} ,
            #{zdcr} ,
            #{jgbz} ,
            #{jfyz} ,
            #{xzsy} ,
            #{xzcs} ,
            #{xzts} ,
            #{sbjg} ,
            #{cptcode} ,
            #{ywmc} 
        )
    </insert>
    
    <update id="update" >
        UPDATE FEE_YLSFXMDJ SET
            FYDJ = #{fydj} ,
            FYKS = #{fyks} ,
            ZFPB = #{zfpb} ,
            DZBL = #{dzbl} ,
            ZDCR = #{zdcr} ,
            JGBZ = #{jgbz} ,
            JFYZ = #{jfyz} ,
            XZSY = #{xzsy} ,
            XZCS = #{xzcs} ,
            XZTS = #{xzts} ,
            SBJG = #{sbjg} ,
            CPTCODE = #{cptcode} ,
            YWMC = #{ywmc} 
        WHERE 
            JGID = #{jgid}  AND 
                        FYXH = #{fyxh}       
    </update>

    <delete id="deleteById">
        DELETE FROM FEE_YLSFXMDJ WHERE
        JGID = #{jgid}  AND 
        FYXH = #{fyxh} 
    </delete>
    
    <delete id="removeByEntity">
        DELETE FROM FEE_YLSFXMDJ <include refid="where"/>  
    </delete>
    
    <select id="getById" resultType="FeeYlsfxmdj">
        SELECT <include refid="columns" />
            FROM FEE_YLSFXMDJ 
            WHERE 
        JGID = #{jgid}  AND 
        FYXH = #{fyxh} 
    </select>
    
    <sql id="where">
        <where>                          
<!--                <if test="@sqlt.Ognl@isNotEmpty(jgid)"> -->
<!--                     AND JGID = #{jgid} -->
<!--                </if> -->
                <if test="@sqlt.Ognl@isNotEmpty(fyxh)">
                     AND FYXH = #{fyxh}
                </if>
<!--                <if test="@sqlt.Ognl@isNotEmpty(fydj)"> -->
<!--                     AND FYDJ = #{fydj} -->
<!--                </if> -->
<!--                <if test="@sqlt.Ognl@isNotEmpty(fyks)"> -->
<!--                     AND FYKS = #{fyks} -->
<!--                </if> -->
                <if test="@sqlt.Ognl@isNotEmpty(zfpb)">
                     AND ZFPB = #{zfpb}
                </if>
<!--                <if test="@sqlt.Ognl@isNotEmpty(dzbl)"> -->
<!--                     AND DZBL = #{dzbl} -->
<!--                </if> -->
<!--                <if test="@sqlt.Ognl@isNotEmpty(zdcr)"> -->
<!--                     AND ZDCR = #{zdcr} -->
<!--                </if> -->
<!--                <if test="@sqlt.Ognl@isNotEmpty(jgbz)"> -->
<!--                     AND JGBZ = #{jgbz} -->
<!--                </if> -->
<!--                <if test="@sqlt.Ognl@isNotEmpty(jfyz)"> -->
<!--                     AND JFYZ = #{jfyz} -->
<!--                </if> -->
<!--                <if test="@sqlt.Ognl@isNotEmpty(xzsy)"> -->
<!--                     AND XZSY = #{xzsy} -->
<!--                </if> -->
<!--                <if test="@sqlt.Ognl@isNotEmpty(xzcs)"> -->
<!--                     AND XZCS = #{xzcs} -->
<!--                </if> -->
<!--                <if test="@sqlt.Ognl@isNotEmpty(xzts)"> -->
<!--                     AND XZTS = #{xzts} -->
<!--                </if> -->
<!--                <if test="@sqlt.Ognl@isNotEmpty(sbjg)"> -->
<!--                     AND SBJG = #{sbjg} -->
<!--                </if> -->
<!--                <if test="@sqlt.Ognl@isNotEmpty(cptcode)"> -->
<!--                     AND CPTCODE = #{cptcode} -->
<!--                </if> -->
<!--                <if test="@sqlt.Ognl@isNotEmpty(ywmc)"> -->
<!--                     AND YWMC = #{ywmc} -->
<!--                </if> -->
        </where>
    </sql>
        
    <select id="findByEntityCount" resultType="Integer">
        SELECT count(*) FROM FEE_YLSFXMDJ 
        <include refid="where"/>    
    </select>
    
    <select id="findByEntity" resultType="FeeYlsfxmdj">
        SELECT <include refid="columns" />
        FROM FEE_YLSFXMDJ 
        <include refid="where"/>
        
        <if test="@sqlt.Ognl@orderIsNotEmpty(sortColumns)">
            ORDER BY ${sortColumns}
        </if>
    </select>
    
    <!-- 查询医疗明细信息 -->
    <select id="getYlmxInfo" resultType="FeeYlsfxmdjModel">
		SELECT
		FYXH AS YLXH,
		FYDJ AS YLDJ
		FROM
		FEE_YLSFXMDJ
		<where>
			<if test="@sqlt.Ognl@isNotEmpty(zdcr)">
				AND ZDCR = #{zdcr}
			</if>
			<if test="@sqlt.Ognl@isNotEmpty(zfpb)">
				AND ZFPB = #{zfpb}
			</if>
			<if test="@sqlt.Ognl@isNotEmpty(jgid)">
				AND JGID = #{jgid}
			</if>
		</where>
	</select>
	
	<select id="getFydj" parameterType="Map" resultType="java.util.Map">
		select FYDJ as FYDJ from FEE_YLSFXMDJ where JGID=#{JGID} and FYXH=#{FYXH} and ZFPB=0
    </select>
    <select id="getJgbz" parameterType="Map" resultType="java.util.Map">
		select a.JGBZ as JGBZ from FEE_YLSFXMDJ a where a.FYXH=#{fyxh} and a.JGID=#{jgid}
	</select>
    <!-- 查询机构收费项目明细列表  -->
    <select id="queryInstitutionalFeeCollection" resultType="com.buit.his.sys.centermaintenance.response.FeeYlsfxmdjMechanismResp">
	  	select a.JGID    as JGID,
               a.FYXH    as FYXH,
               b.FYMC    as FYMC,
               b.FYGB    as FYGB,
               b.FYDW    as FYDW,
               b.PYDM    as PYDM,
               a.FYDJ    as FYDJ,
               b.MZSY    as MZSY,
               b.ZYSY    as ZYSY,
               b.YJSY    as YJSY,
               b.TJFY    as TJFY,
               b.TXZL    as TXZL,
               b.WBDM    as WBDM,
               b.JXDM    as JXDM,
               b.BHDM    as BHDM,
               b.XMLX    as XMLX,
               b.QTDM    as QTDM,
               a.FYKS    as FYKS,
               a.ZDCR    as ZDCR,
               a.XZSY    as XZSY,
               a.XZTS    as XZTS,
               a.XZCS    as XZCS,
               a.SBJG    as SBJG,
               a.CPTCODE as CPTCODE,
               a.YWMC    as YWMC,
               a.DZBL    as DZBL,
               b.BZJG    as BZJG,
               a.JGBZ    as JGBZ,
               b.XMBM    as XMBM,
               b.HMBM    as HMBM,
               a.ZFPB    as ZFPB,
               a.JFYZ    as JFYZ
          from FEE_YLSFXMDJ a, FEE_YLSFXM b
         where b.FYXH = a.FYXH
           and a.JGID = #{jgid}
        <if test="@sqlt.Ognl@isNotEmpty(fygb)">
            and b.FYGB = #{fygb}
        </if>
        <if test="@sqlt.Ognl@isNotEmpty(pydm)">
			  and b.PYDM like concat(concat('%',UPPER(#{pydm})),'%')
		  </if>	
    </select> 
    
    <!-- 作废或取消作废收费项目明细 -->
    <update id="logoutProject">
        update FEE_YLSFXMDJ set zfpb = #{zfpb} where fyxh = #{fyxh} and jgid = #{jgid}
    </update>
    
    <!-- 收费项目选择调入 -->
 	<insert id="selectInsert">
        insert into FEE_YLSFXMDJ
		  (jgid, fyxh, fydj, zfpb, dzbl)
		  select #{jgid},
		         fyxh,
		         ifnull(bzjg, 0),
		         0,
		         0
		    from FEE_YLSFXM
		   where fyxh in 
			<foreach collection="fyxhList" item="fyxh" open="(" close=")" separator="," >
                #{fyxh}
        	</foreach>		
    </insert>
    
    <!-- 收费项目批量调入 -->
 	<insert id="batchInsert">
        insert into FEE_YLSFXMDJ
	  (jgid, fyxh, fydj, zfpb, dzbl)
	  select #{jgid}, fyxh, ifnull(bzjg, 0), 0, 0
	    from FEE_YLSFXM
	   where fygb = #{fygb}
	     and zfpb = 0
	     and fyxh not in (select a.fyxh
	                        from FEE_YLSFXM a, FEE_YLSFXMDJ b
	                       where a.fyxh = b.fyxh
	                         and a.fygb = #{fygb}
	                         and b.jgid = #{jgid})
    </insert>
    
    <!-- 更新医疗明细调价价格 -->
    <update id="updatePriceAdjustment">
        update FEE_YLSFXMDJ a set FYDJ = (select XJG
                         from FEE_XMFYTJ02 b
                        where a.jgid = b.jgid
                          and a.fyxh = b.fyxh
                          and b.tjdh = #{tjdh})
         where a.JGID = #{jgid}
           and exists (select 1
                  from FEE_XMFYTJ02 b
                 where a.jgid = b.jgid
                   and a.fyxh = b.fyxh
                   and b.tjdh = #{tjdh})
    </update>

	<!--  检验 输入法查询 -挂号收费专用 -->
     <select id="doQueryJsjc" resultType="QueryJsJcResp">
	  	SELECT 
		 	a.yyclgg,  
			a.YBBM,
		    a.FYXH as ypxh ,
		    a.FYMC as ypmc,
		    a.FYDW as yfdw,
		    a.BZJG,
		    a.XMLX,
		    c.FYDJ as lsjg ,
		    c.FYKS,
		    d.MZGB as fygb ,
		    i.MCSX		    
		  FROM
		    FEE_YLSFXM a, 
		    FEE_YLSFXMDJ c,    
		    DIC_SFXMLB d,
		    DIC_SFXMLB i
		  WHERE d.MZGB = i.SFXM
		    AND d.SFXM = a.FYGB   
		    AND a.FYXH = c.FYXH
		    AND c.ZFPB = 0
		    AND a.ZFPB = 0
		    AND a.MZSY = 1
		    AND c.JGID = #{jgid}
		  <if test="@sqlt.Ognl@isNotEmpty(pydm)">
			  AND   EXISTS (SELECT BMXH FROM PUB_FYBM bm WHERE bm.FYXH = a.FYXH  AND (bm.PYDM LIKE concat(concat('%',#{pydm}),'%')
			  OR bm.FYMC like concat(concat('%',#{pydm}),'%')) )
		  </if>			 		  	
    </select>
    <select id="querySrfJy" resultType="com.buit.system.response.SrfFeeYlsfxmdjResp">
        SELECT
        sf.FYXH ,
        sf.FYMC ,
        sf.FYDW ,
        sf.BZJG ,
        sf.XMLX ,
        sf.FYGB ,
        mx.FYDJ ,
        mx.SBJG ,
        mx.FYKS
        FROM
        FEE_YLSFXM sf,
        FEE_YLSFXMDJ mx
        WHERE
        sf.FYXH = mx.FYXH
        AND mx.ZFPB = 0
        AND sf.ZFPB = 0
        AND mx.JGID = #{jgid}
        <if test="@sqlt.Ognl@isNotEmpty(xmlx)">
            AND sf.XMLX = #{xmlx}
        </if>
        <if test="@sqlt.Ognl@isNotEmpty(noJc)">
            AND sf.YJSY = 1
        </if>
        <if test="@sqlt.Ognl@isNotEmpty(showJy)">
            and sf.FYGB = 9
            and sf.YJSY =1
        </if>
        <if test="@sqlt.Ognl@isNotEmpty(pydm)">
            AND   EXISTS (SELECT BMXH FROM PUB_FYBM bm WHERE bm.FYXH = sf.FYXH  AND bm.PYDM LIKE  concat(concat('%',#{pydm}),'%')   )
        </if>
    </select>


</mapper>

