<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 公用_医疗收费 -->
<mapper namespace="com.buit.his.sys.centermaintenance.dao.FeeYlsfxmDao">

    <!-- 用于select查询公用抽取的列 -->
    <sql id="columns">
        FYXH as fyxh,FYMC as fymc,FYDW as fydw,FYGB as fygb,PYDM as pydm,WBDM as wbdm,JXDM as jxdm,QTDM as qtdm,FYDJ as fydj,FYKS as fyks,MZSY as mzsy,ZYSY as zysy,YJSY as yjsy,TJFY as tjfy,TXZL as txzl,ZFPB as zfpb,XMBM as xmbm,BZJG as bzjg,XMLX as xmlx,YJJK as yjjk,JCSQ as jcsq,MZSQ as mzsq,TSTS as tsts,LISLX as lislx,DZ as dz,RISLX as rislx,MGH as mgh,BBGB as bbgb,DZBH as dzbh,XMFL as xmfl,JXCS as jxcs,YJCK as yjck,XMKS as xmks,HMBM as hmbm,YBXMJFBZ as ybxmjfbz,BLBZ as blbz,YBBM as ybbm,YBMC as ybmc,YBDW as ybdw,YYPP as yypp,ZCZH as zczh,YYCLGG as yyclgg,MXBZ as mxbz,ZJXE as zjxe,CLBZ as clbz,FYLB as fylb,HLZX as hlzx,BBGB_1 as bbgb1,BASYXM as basyxm,FYJMBM as fyjmbm,JXXMLB as jxxmlb,HLXMLB as hlxmlb,GNXH as gnxh,TSXMLX as tsxmlx,SSSTJ as ssstj,FYMS as fyms,FLZZF as flzzf,ZYXMBZ as zyxmbz,YLXZ as ylxz,BHDM as bhdm,BASYGB as basygb,CFTXBZ as cftxbz,FYETJMBZ as fyetjmbz,YJLX as yjlx,JCZQTYS as jczqtys,ZYSX as zysx,ZXKS as zxks,TSFY as tsfy,SFJXFX as sfjxfx,CLDYM as cldym
    </sql>

    <insert id="insert" keyColumn="fyxh" keyProperty="fyxh" useGeneratedKeys="true">
        INSERT INTO FEE_YLSFXM (
            FYXH ,
            FYMC ,
            FYDW ,
            FYGB ,
            PYDM ,
            WBDM ,
            JXDM ,
            QTDM ,
            FYDJ ,
            FYKS ,
            MZSY ,
            ZYSY ,
            YJSY ,
            TJFY ,
            TXZL ,
            ZFPB ,
            XMBM ,
            BZJG ,
            XMLX ,
            YJJK ,
            JCSQ ,
            MZSQ ,
            TSTS ,
            LISLX ,
            DZ ,
            RISLX ,
            MGH ,
            BBGB ,
            DZBH ,
            XMFL ,
            JXCS ,
            YJCK ,
            XMKS ,
            HMBM ,
            YBXMJFBZ ,
            BLBZ ,
            YBBM ,
            YBMC ,
            YBDW ,
            YYPP ,
            ZCZH ,
            YYCLGG ,
            MXBZ ,
            ZJXE ,
            CLBZ ,
            FYLB ,
            HLZX ,
            BBGB_1 ,
            BASYXM ,
            FYJMBM ,
            JXXMLB ,
            HLXMLB ,
            GNXH ,
            TSXMLX ,
            SSSTJ ,
            FYMS ,
            FLZZF ,
            ZYXMBZ ,
            YLXZ ,
            BHDM ,
            BASYGB ,
            CFTXBZ ,
            FYETJMBZ ,
            YJLX ,
            JCZQTYS ,
            ZYSX ,
            ZXKS ,
            TSFY ,
            SFJXFX ,
            CLDYM
        ) VALUES (
            #{fyxh} ,
            #{fymc} ,
            #{fydw} ,
            #{fygb} ,
            #{pydm} ,
            #{wbdm} ,
            #{jxdm} ,
            #{qtdm} ,
            #{fydj} ,
            #{fyks} ,
            #{mzsy} ,
            #{zysy} ,
            #{yjsy} ,
            #{tjfy} ,
            #{txzl} ,
            #{zfpb} ,
            #{xmbm} ,
            #{bzjg} ,
            #{xmlx} ,
            #{yjjk} ,
            #{jcsq} ,
            #{mzsq} ,
            #{tsts} ,
            #{lislx} ,
            #{dz} ,
            #{rislx} ,
            #{mgh} ,
            #{bbgb} ,
            #{dzbh} ,
            #{xmfl} ,
            #{jxcs} ,
            #{yjck} ,
            #{xmks} ,
            #{hmbm} ,
            #{ybxmjfbz} ,
            #{blbz} ,
            #{ybbm} ,
            #{ybmc} ,
            #{ybdw} ,
            #{yypp} ,
            #{zczh} ,
            #{yyclgg} ,
            #{mxbz} ,
            #{zjxe} ,
            #{clbz} ,
            #{fylb} ,
            #{hlzx} ,
            #{bbgb1} ,
            #{basyxm} ,
            #{fyjmbm} ,
            #{jxxmlb} ,
            #{hlxmlb} ,
            #{gnxh} ,
            #{tsxmlx} ,
            #{ssstj} ,
            #{fyms} ,
            #{flzzf} ,
            #{zyxmbz} ,
            #{ylxz} ,
            #{bhdm} ,
            #{basygb} ,
            #{cftxbz} ,
            #{fyetjmbz} ,
            #{yjlx} ,
            #{jczqtys} ,
            #{zysx} ,
            #{zxks} ,
            #{tsfy} ,
            #{sfjxfx} ,
            #{cldym}
        )
    </insert>

    <update id="update">
        UPDATE FEE_YLSFXM SET
            FYMC = #{fymc} ,
            FYDW = #{fydw} ,
            FYGB = #{fygb} ,
            PYDM = #{pydm} ,
            WBDM = #{wbdm} ,
            JXDM = #{jxdm} ,
            QTDM = #{qtdm} ,
            FYDJ = #{fydj} ,
            FYKS = #{fyks} ,
            MZSY = #{mzsy} ,
            ZYSY = #{zysy} ,
            YJSY = #{yjsy} ,
            TJFY = #{tjfy} ,
            TXZL = #{txzl} ,
            ZFPB = #{zfpb} ,
            XMBM = #{xmbm} ,
            BZJG = #{bzjg} ,
            XMLX = #{xmlx} ,
            YJJK = #{yjjk} ,
            JCSQ = #{jcsq} ,
            MZSQ = #{mzsq} ,
            TSTS = #{tsts} ,
            LISLX = #{lislx} ,
            DZ = #{dz} ,
            RISLX = #{rislx} ,
            MGH = #{mgh} ,
            BBGB = #{bbgb} ,
            DZBH = #{dzbh} ,
            XMFL = #{xmfl} ,
            JXCS = #{jxcs} ,
            YJCK = #{yjck} ,
            XMKS = #{xmks} ,
            HMBM = #{hmbm} ,
            YBXMJFBZ = #{ybxmjfbz} ,
            BLBZ = #{blbz} ,
            YBBM = #{ybbm} ,
            YBMC = #{ybmc} ,
            YBDW = #{ybdw} ,
            YYPP = #{yypp} ,
            ZCZH = #{zczh} ,
            YYCLGG = #{yyclgg} ,
            MXBZ = #{mxbz} ,
            ZJXE = #{zjxe} ,
            CLBZ = #{clbz} ,
            FYLB = #{fylb} ,
            HLZX = #{hlzx} ,
            BBGB_1 = #{bbgb1} ,
            BASYXM = #{basyxm} ,
            FYJMBM = #{fyjmbm} ,
            JXXMLB = #{jxxmlb} ,
            HLXMLB = #{hlxmlb} ,
            GNXH = #{gnxh} ,
            TSXMLX = #{tsxmlx} ,
            SSSTJ = #{ssstj} ,
            FYMS = #{fyms} ,
            FLZZF = #{flzzf} ,
            ZYXMBZ = #{zyxmbz} ,
            YLXZ = #{ylxz} ,
            BHDM = #{bhdm} ,
            BASYGB = #{basygb} ,
            CFTXBZ = #{cftxbz} ,
            FYETJMBZ = #{fyetjmbz} ,
            YJLX = #{yjlx} ,
            JCZQTYS = #{jczqtys} ,
            ZYSX = #{zysx} ,
            ZXKS = #{zxks} ,
            TSFY = #{tsfy} ,
            SFJXFX = #{sfjxfx} ,
            CLDYM = #{cldym}
        WHERE
            FYXH = #{fyxh}
    </update>

    <delete id="deleteById">
        DELETE FROM FEE_YLSFXM WHERE
        FYXH = #{fyxh}
    </delete>

    <delete id="removeByEntity">
        DELETE FROM FEE_YLSFXM
        <include refid="where"/>
    </delete>

    <select id="getById" resultType="com.buit.his.sys.centermaintenance.model.FeeYlsfxm">
        SELECT
        <include refid="columns"/>
        FROM FEE_YLSFXM
        WHERE
        FYXH = #{fyxh}
    </select>

    <sql id="where">
        <where>
            <if test="@sqlt.Ognl@isNotEmpty(fyxh)">
                AND FYXH = #{fyxh}
            </if>
            <if test="@sqlt.Ognl@isNotEmpty(fymc)">
                AND FYMC LIKE CONCAT(CONCAT('%',#{fymc}),'%')
            </if>
            <!--<if test="@sqlt.Ognl@isNotEmpty(fydw)"> -->
            <!--     AND FYDW = #{fydw} -->
            <!--</if> -->
            <if test="@sqlt.Ognl@isNotEmpty(fygb)">
                AND FYGB = #{fygb}
            </if>
            <if test="@sqlt.Ognl@isNotEmpty(pydm)">
                AND PYDM LIKE CONCAT(CONCAT('%',UPPER(#{pydm})),'%')
            </if>
            <if test="@sqlt.Ognl@isNotEmpty(zfpb)">
                AND ZFPB = #{zfpb}
            </if>
            <if test="@sqlt.Ognl@isNotEmpty(yjsy)">
                AND YJSY = #{yjsy}
            </if>
            <if test="@sqlt.Ognl@isNotEmpty(ybbm)">
                AND YBBM = #{ybbm}
            </if>
            <if test="@sqlt.Ognl@isNotEmpty(wbdm)">
                 AND WBDM = #{wbdm}
            </if>
			<if test="@sqlt.Ognl@isNotEmpty(zysy)">
				AND ZYSY = #{zysy}
			</if>
            <!--<if test="@sqlt.Ognl@isNotEmpty(jxdm)"> -->
            <!--     AND JXDM = #{jxdm} -->
            <!--</if> -->
            <!--<if test="@sqlt.Ognl@isNotEmpty(qtdm)"> -->
            <!--     AND QTDM = #{qtdm} -->
            <!--</if> -->
            <!--<if test="@sqlt.Ognl@isNotEmpty(fydj)"> -->
            <!--     AND FYDJ = #{fydj} -->
            <!--</if> -->
            <!--<if test="@sqlt.Ognl@isNotEmpty(fyks)"> -->
            <!--     AND FYKS = #{fyks} -->
            <!--</if> -->
            <!--<if test="@sqlt.Ognl@isNotEmpty(mzsy)"> -->
            <!--     AND MZSY = #{mzsy} -->
            <!--</if> -->
            <!--<if test="@sqlt.Ognl@isNotEmpty(tjfy)"> -->
            <!--     AND TJFY = #{tjfy} -->
            <!--</if> -->
            <!--<if test="@sqlt.Ognl@isNotEmpty(txzl)"> -->
            <!--     AND TXZL = #{txzl} -->
            <!--</if> -->
            <!--<if test="@sqlt.Ognl@isNotEmpty(xmbm)"> -->
            <!--     AND XMBM = #{xmbm} -->
            <!--</if> -->
            <!--<if test="@sqlt.Ognl@isNotEmpty(bzjg)"> -->
            <!--     AND BZJG = #{bzjg} -->
            <!--</if> -->
            <if test="@sqlt.Ognl@isNotEmpty(xmlx)">
                 AND XMLX = #{xmlx}
            </if>
            <!--<if test="@sqlt.Ognl@isNotEmpty(yjjk)"> -->
            <!--     AND YJJK = #{yjjk} -->
            <!--</if> -->
            <!--<if test="@sqlt.Ognl@isNotEmpty(jcsq)"> -->
            <!--     AND JCSQ = #{jcsq} -->
            <!--</if> -->
            <!--<if test="@sqlt.Ognl@isNotEmpty(mzsq)"> -->
            <!--     AND MZSQ = #{mzsq} -->
            <!--</if> -->
            <!--<if test="@sqlt.Ognl@isNotEmpty(tsts)"> -->
            <!--     AND TSTS = #{tsts} -->
            <!--</if> -->
            <!--<if test="@sqlt.Ognl@isNotEmpty(lislx)"> -->
            <!--     AND LISLX = #{lislx} -->
            <!--</if> -->
            <!--<if test="@sqlt.Ognl@isNotEmpty(dz)"> -->
            <!--     AND DZ = #{dz} -->
            <!--</if> -->
            <!--<if test="@sqlt.Ognl@isNotEmpty(rislx)"> -->
            <!--     AND RISLX = #{rislx} -->
            <!--</if> -->
            <!--<if test="@sqlt.Ognl@isNotEmpty(mgh)"> -->
            <!--     AND MGH = #{mgh} -->
            <!--</if> -->
            <!--<if test="@sqlt.Ognl@isNotEmpty(bbgb)"> -->
            <!--     AND BBGB = #{bbgb} -->
            <!--</if> -->
            <!--<if test="@sqlt.Ognl@isNotEmpty(dzbh)"> -->
            <!--     AND DZBH = #{dzbh} -->
            <!--</if> -->
            <!--<if test="@sqlt.Ognl@isNotEmpty(xmfl)"> -->
            <!--     AND XMFL = #{xmfl} -->
            <!--</if> -->
            <!--<if test="@sqlt.Ognl@isNotEmpty(jxcs)"> -->
            <!--     AND JXCS = #{jxcs} -->
            <!--</if> -->
            <!--<if test="@sqlt.Ognl@isNotEmpty(yjck)"> -->
            <!--     AND YJCK = #{yjck} -->
            <!--</if> -->
            <!--<if test="@sqlt.Ognl@isNotEmpty(xmks)"> -->
            <!--     AND XMKS = #{xmks} -->
            <!--</if> -->
            <!--<if test="@sqlt.Ognl@isNotEmpty(hmbm)"> -->
            <!--     AND HMBM = #{hmbm} -->
            <!--</if> -->
            <!--<if test="@sqlt.Ognl@isNotEmpty(ybxmjfbz)"> -->
            <!--     AND YBXMJFBZ = #{ybxmjfbz} -->
            <!--</if> -->
            <!--<if test="@sqlt.Ognl@isNotEmpty(blbz)"> -->
            <!--     AND BLBZ = #{blbz} -->
            <!--</if> -->
            <!--<if test="@sqlt.Ognl@isNotEmpty(ybmc)"> -->
            <!--     AND YBMC = #{ybmc} -->
            <!--</if> -->
            <!--<if test="@sqlt.Ognl@isNotEmpty(ybdw)"> -->
            <!--     AND YBDW = #{ybdw} -->
            <!--</if> -->
            <!--<if test="@sqlt.Ognl@isNotEmpty(yypp)"> -->
            <!--     AND YYPP = #{yypp} -->
            <!--</if> -->
            <!--<if test="@sqlt.Ognl@isNotEmpty(zczh)"> -->
            <!--     AND ZCZH = #{zczh} -->
            <!--</if> -->
            <!--<if test="@sqlt.Ognl@isNotEmpty(yyclgg)"> -->
            <!--     AND YYCLGG = #{yyclgg} -->
            <!--</if> -->
            <!--<if test="@sqlt.Ognl@isNotEmpty(mxbz)"> -->
            <!--     AND MXBZ = #{mxbz} -->
            <!--</if> -->
            <!--<if test="@sqlt.Ognl@isNotEmpty(zjxe)"> -->
            <!--     AND ZJXE = #{zjxe} -->
            <!--</if> -->
            <!--<if test="@sqlt.Ognl@isNotEmpty(clbz)"> -->
            <!--     AND CLBZ = #{clbz} -->
            <!--</if> -->
            <!--<if test="@sqlt.Ognl@isNotEmpty(fylb)"> -->
            <!--     AND FYLB = #{fylb} -->
            <!--</if> -->
            <!--<if test="@sqlt.Ognl@isNotEmpty(hlzx)"> -->
            <!--     AND HLZX = #{hlzx} -->
            <!--</if> -->
            <!--<if test="@sqlt.Ognl@isNotEmpty(bbgb1)"> -->
            <!--     AND BBGB_1 = #{bbgb1} -->
            <!--</if> -->
            <!--<if test="@sqlt.Ognl@isNotEmpty(basyxm)"> -->
            <!--     AND BASYXM = #{basyxm} -->
            <!--</if> -->
            <!--<if test="@sqlt.Ognl@isNotEmpty(fyjmbm)"> -->
            <!--     AND FYJMBM = #{fyjmbm} -->
            <!--</if> -->
            <!--<if test="@sqlt.Ognl@isNotEmpty(jxxmlb)"> -->
            <!--     AND JXXMLB = #{jxxmlb} -->
            <!--</if> -->
            <!--<if test="@sqlt.Ognl@isNotEmpty(hlxmlb)"> -->
            <!--     AND HLXMLB = #{hlxmlb} -->
            <!--</if> -->
            <!--<if test="@sqlt.Ognl@isNotEmpty(gnxh)"> -->
            <!--     AND GNXH = #{gnxh} -->
            <!--</if> -->
            <!--<if test="@sqlt.Ognl@isNotEmpty(tsxmlx)"> -->
            <!--     AND TSXMLX = #{tsxmlx} -->
            <!--</if> -->
            <!--<if test="@sqlt.Ognl@isNotEmpty(ssstj)"> -->
            <!--     AND SSSTJ = #{ssstj} -->
            <!--</if> -->
            <!--<if test="@sqlt.Ognl@isNotEmpty(fyms)"> -->
            <!--     AND FYMS = #{fyms} -->
            <!--</if> -->
            <!--<if test="@sqlt.Ognl@isNotEmpty(flzzf)"> -->
            <!--     AND FLZZF = #{flzzf} -->
            <!--</if> -->
            <!--<if test="@sqlt.Ognl@isNotEmpty(zyxmbz)"> -->
            <!--     AND ZYXMBZ = #{zyxmbz} -->
            <!--</if> -->
            <!--<if test="@sqlt.Ognl@isNotEmpty(ylxz)"> -->
            <!--     AND YLXZ = #{ylxz} -->
            <!--</if> -->
            <!--<if test="@sqlt.Ognl@isNotEmpty(bhdm)"> -->
            <!--     AND BHDM = #{bhdm} -->
            <!--</if> -->
            <!--<if test="@sqlt.Ognl@isNotEmpty(basygb)"> -->
            <!--     AND BASYGB = #{basygb} -->
            <!--</if> -->
            <!--<if test="@sqlt.Ognl@isNotEmpty(cftxbz)"> -->
            <!--     AND CFTXBZ = #{cftxbz} -->
            <!--</if> -->
            <!--<if test="@sqlt.Ognl@isNotEmpty(fyetjmbz)"> -->
            <!--     AND FYETJMBZ = #{fyetjmbz} -->
            <!--</if> -->
            <!--<if test="@sqlt.Ognl@isNotEmpty(yjlx)"> -->
            <!--     AND YJLX = #{yjlx} -->
            <!--</if> -->
            <!--<if test="@sqlt.Ognl@isNotEmpty(jczqtys)"> -->
            <!--     AND JCZQTYS = #{jczqtys} -->
            <!--</if> -->
            <!--<if test="@sqlt.Ognl@isNotEmpty(zysx)"> -->
            <!--     AND ZYSX = #{zysx} -->
            <!--</if> -->
            <!--<if test="@sqlt.Ognl@isNotEmpty(zxks)"> -->
            <!--     AND ZXKS = #{zxks} -->
            <!--</if> -->
            <!--<if test="@sqlt.Ognl@isNotEmpty(tsfy)"> -->
            <!--     AND TSFY = #{tsfy} -->
            <!--</if> -->
            <!--<if test="@sqlt.Ognl@isNotEmpty(sfjxfx)"> -->
            <!--     AND SFJXFX = #{sfjxfx} -->
            <!--</if> -->
            <!--<if test="@sqlt.Ognl@isNotEmpty(cldym)"> -->
            <!--     AND CLDYM = #{cldym} -->
            <!--</if> -->
        </where>
    </sql>

    <select id="findByEntityCount" resultType="long">
        SELECT count(*) FROM FEE_YLSFXM
        <include refid="where"/>
    </select>

    <select id="findByEntity" resultType="com.buit.his.sys.centermaintenance.model.FeeYlsfxm">
        SELECT
        <include refid="columns"/>
        FROM FEE_YLSFXM
        <include refid="where"/>

        <if test="@sqlt.Ognl@orderIsNotEmpty(sortColumns)">
            ORDER BY ${sortColumns}
        </if>
    </select>
    <!--     业务sql      -->
    <select id="getFygbFyxhFydj" resultType="java.util.Map">
        SELECT
            A.fygb AS FYGB,
            A.FYXH AS FYXH,
            B.FYDJ AS FYDJ
        FROM
            FEE_YLSFXM A,
            FEE_YLSFXMDJ B
        WHERE
            A.FYXH = B.FYXH
            AND A.FYXH IN (
            SELECT
                B.FYXH
            FROM
                DICC_ZLSFDZ B,
                DIC_ZLXM C
            WHERE
            B.ZLXMID = C.ZLXMID
            AND C.YJLX =  #{yjlx})
    </select>
    <select id="getFyxhFymcZfpbYbbm" resultType="java.util.Map">
        SELECT
            a.FYXH AS FYXH,
            a.FYMC AS FYMC,
            b.ZFPB AS ZFPB,
            A.YBBM
        FROM
            FEE_YLSFXM a,
            FEE_YLSFXMDJ b
        WHERE
            a.FYXH = b.FYXH
            AND b.JGID = #{jgid}
            AND a.FYXH IN (
            SELECT
                FYXH
            FROM
                DICC_ZLSFDZ
        WHERE
            ZLXMID = #{zlxmid})
    </select>
    <select id="getBxfy" resultType="java.util.Map">
        SELECT DISTINCT
        a.FYXH AS FYXH,
        a.FYMC AS FYMC,
        a.FYDW AS FYDW,
        a.BZJG AS BZJG,
        a.XMLX AS XMLX,
        <if test="types == 1">
            c.SBJG as FYDJ,
        </if>
        <if test="types == 2">
            c.FYDJ AS FYDJ,
        </if>
        a.FYGB AS FYGB,
        c.FYKS AS FYKS,
        a.YJSY AS YJSY
        FROM
        FEE_YLSFXM a,
        FEE_YLSFXMDJ c
        WHERE
        a.FYXH = c.FYXH
        AND a.FYXH IN (
        SELECT
        FYXH
        FROM
        DICC_ZLSFDZ
        WHERE
        ZLXMID = #{zlxmid})
    </select>
    <select id="getBxInfo" resultType="java.util.Map">
        SELECT DISTINCT
        a.FYXH AS fyxh,
        a.FYMC AS fymc,
        a.FYDW AS fydw,
        a.BZJG AS bzjg,
        a.XMLX AS xmlx,
        <if test="types == 1">
            c.SBJG as fydj,
        </if>
        <if test="types == 2">
            c.FYDJ AS fydj,
        </if>
        a.FYGB AS fygb,
        c.FYKS AS fyks,
        a.YJSY AS yjsy
        FROM
        FEE_YLSFXM a,
        FEE_YLSFXMDJ c
        WHERE
        a.FYXH = c.FYXH
        AND a.FYXH = #{fyxh}
    </select>
    <select id="queryByFyxh" resultType="FeeYlsfxmOutResp">
        SELECT
        <include refid="columns"/>
        FROM FEE_YLSFXM
        where FYXH in (
        <foreach collection="list" item="x" separator=",">
            #{x}
        </foreach>
        )
    </select>



    <select id="getYlsfInfoBybrxzOne" parameterType="Map" resultType="java.util.Map">
        SELECT
			b.FYXH AS YPXH,
			a.FYMC AS YPMC,
			b.SBJG AS LSJG,
			b.SBJG AS YPDJ,
			a.FYGB AS FYGB,
			a.FYDW AS YFDW,
			'0' AS TYPE,
			a.BZJG,
			a.XMLX AS XMLX,
			b.FYKS AS FYKS,
			ifnull ( c.MCSX, c.SFMC ) AS GBMC
		FROM
			FEE_YLSFXM a,
			FEE_YLSFXMDJ b,
			DIC_SFXMLB c
		WHERE
			c.SFXM = a.FYGB
			AND a.FYXH = #{YPXH}
			AND a.FYXH = b.FYXH
			AND b.JGID = #{JGID}
    </select>

    <select id="getYlsfInfoBybrxzTwo" parameterType="Map" resultType="java.util.Map">
        SELECT
			b.FYXH AS YPXH,
			a.FYMC AS YPMC,
			b.FYDJ AS LSJG,
			b.FYDJ AS YPDJ,
			a.FYGB AS FYGB,
			a.FYDW AS YFDW,
			'0' AS TYPE,
			a.BZJG,
			a.XMLX AS XMLX,
			b.FYKS AS FYKS,
			ifnull ( c.MCSX, c.SFMC ) AS GBMC
		FROM
			FEE_YLSFXM a,
			FEE_YLSFXMDJ b,
			DIC_SFXMLB c
		WHERE
			c.SFXM = a.FYGB
			AND a.FYXH = #{YPXH}

			AND a.FYXH = b.FYXH
			AND b.JGID = #{JGID}
    </select>

    <!-- 查询住院全部项目 -->
    <select id="queryInpatientProjectAll" resultType="com.buit.his.sys.centermaintenance.response.FeeYlsfxmAllResp">
        select FEE_YLSFXM0_.FYXH as FYXH,
        FEE_YLSFXM0_.FYMC as FYMC,
        FEE_YLSFXM0_.FYDW as FYDW,
        FEE_YLSFXM0_.PYDM as PYDM,
        FEE_YLSFXM0_.MZSY as MZSY,
        FEE_YLSFXM0_.ZYSY as ZYSY,
        FEE_YLSFXM0_.YJSY as YJSY,
        FEE_YLSFXM0_.TJFY as TJFY,
        FEE_YLSFXM0_.TXZL as TXZL,
        FEE_YLSFXM0_.WBDM as WBDM,
        FEE_YLSFXM0_.JXDM as JXDM,
        FEE_YLSFXM0_.QTDM as QTDM,
        FEE_YLSFXM0_.FYGB as FYGB,
        FEE_YLSFXM0_.ZFPB as ZFPB,
        FEE_YLSFXM0_.XMBM as XMBM,
        FEE_YLSFXM0_.BZJG as BZJG,
        FEE_YLSFXM0_.XMLX as XMLX,
        FEE_YLSFXM0_.YJJK as YJJK,
        FEE_YLSFXM0_.JCSQ as JCSQ,
        FEE_YLSFXM0_.MZSQ as MZSQ,
        FEE_YLSFXM0_.TSTS as TSTS,
        FEE_YLSFXM0_.LISLX as LISLX,
        FEE_YLSFXM0_.XMFL as XMFL,
        FEE_YLSFXMDJ1_.FYDJ as FYDJ
        from FEE_YLSFXM FEE_YLSFXM0_,
        FEE_YLSFXMDJ FEE_YLSFXMDJ1_
        where FEE_YLSFXMDJ1_.FYXH = FEE_YLSFXM0_.FYXH
        and FEE_YLSFXM0_.ZFPB = 0
        and FEE_YLSFXMDJ1_.ZFPB = 0
        and FEE_YLSFXM0_.ZYSY = 1
        and FEE_YLSFXMDJ1_.JGID = #{jgid}
        and FEE_YLSFXM0_.XMLX &lt;&gt; 6
        <if test="@sqlt.Ognl@isNotEmpty(pydm)">
            and FEE_YLSFXM0_.PYDM like concat(concat('%',#{pydm}),'%')
        </if>
    </select>


    <select id="queryPageHelper" resultType="com.buit.system.response.YjQueryPageHelperResp">
        SELECT
        a.fyxh,
        a.fymc,
        a.fydw,
        a.pydm,
        a.mzsy,
        a.zysy,
        a.yjsy,
        a.tjfy,
        a.txzl,
        a.wbdm,
        a.jxdm,
        a.qtdm,
        a.fygb,
        a.zfpb,
        a.xmbm,
        a.bzjg,
        a.xmlx,
        a.yjjk,
        a.jcsq,
        a.mzsq,
        a.tsts,
        a.lislx,
        a.xmfl,
        b.fydj
        FROM
        FEE_YLSFXM a,
        FEE_YLSFXMDJ b
        WHERE
        (
        b.FYXH = a.FYXH
        AND ((((
        a.ZFPB = 0
        AND a.MZSY = 1
        AND b.JGID = #{jgid}
        ))
        AND b.ZFPB = 0
        )
        <if test="@sqlt.Ognl@isNotEmpty(pydm)">
            AND a.PYDM LIKE CONCAT(CONCAT('%',UPPER(#{pydm})),'%')
        </if>
        )
        AND b.JGID = #{jgid})
    </select>

    <!-- 收费项目明细是否作废 -->
    <update id="updateZfpbByFyxh">
 		update FEE_YLSFXM set zfpb = #{zfpb} where fyxh = #{fyxh}
    </update>

    <!-- 查询手术项目 -->
    <select id="querySurgicalItems" resultType="com.buit.his.sys.centermaintenance.response.FeeYlsfxmResp">
        select a.FYXH as FYXH,
        a.FYMC as FYMC,
        b.FYDJ as FYDJ,
        a.PYDM as PYDM
        from FEE_YLSFXM a, FEE_YLSFXMDJ b
        where b.FYXH = a.FYXH
        <if test="@sqlt.Ognl@isNotEmpty(fymc)">
            AND a.FYMC LIKE CONCAT(CONCAT('%',#{fymc}),'%')
        </if>
        <if test="@sqlt.Ognl@isNotEmpty(pydm)">
            AND a.PYDM LIKE CONCAT(CONCAT('%',UPPER(#{pydm})),'%')
        </if>
        <if test="@sqlt.Ognl@isNotEmpty(fygb)">
            AND a.FYGB = #{fygb}
        </if>
    </select>

    <!-- 需调入收费项目明细列表 -->
    <select id="queryInstitutionalDetails" resultType="com.buit.his.sys.centermaintenance.model.FeeYlsfxm">
        select a.FYXH as FYXH,
        a.FYMC as FYMC,
        a.FYDW as FYDW,
        a.PYDM as PYDM,
        a.MZSY as MZSY,
        a.ZYSY as ZYSY,
        a.YJSY as YJSY,
        a.TJFY as TJFY,
        a.TXZL as TXZL,
        a.WBDM as WBDM,
        a.JXDM as JXDM,
        a.QTDM as QTDM,
        a.FYGB as QTDM,
        a.ZFPB as ZFPB,
        a.XMBM as XMBM,
        a.BZJG as BZJG,
        a.XMLX as XMLX,
        a.YJJK as YJJK,
        a.JCSQ as JCSQ,
        a.MZSQ as MZSQ,
        a.TSTS as TSTS,
        a.LISLX as LISLX,
        a.XMFL as XMFL
        from FEE_YLSFXM a
        where a.FYGB = #{fygb}
        and a.ZFPB = 0
        and (a.FYXH not in
        (select b.FYXH
        from FEE_YLSFXMDJ b
        where b.JGID = #{jgid}))
        <if test="@sqlt.Ognl@isNotEmpty(pydm)">
            and a.PYDM like concat(concat('%',UPPER(#{pydm})),'%')
        </if>
        order by a.FYXH desc
    </select>

    <!--中心维护-查询费用列表-->
    <select id="queryList" resultType="com.buit.his.sys.centermaintenance.response.FeeYlsfxmResp">
        select
            f.FYXH fyxh,
            f.FYMC fymc,
            f.FYGB fygb,
            f.FYDW fydw,
            f.PYDM pydm,
            x.ZFPB zfpb,
            x.JGID jgid
        from FEE_YLSFXM f,
            FEE_YLSFXMDJ x
        where f.FYXH = x.FYXH
          and f.ZFPB = 0
          and x.ZFPB = 0
          and f.ZYSY = 1
          and x.JGID = #{jgid}
            <if test="@sqlt.Ognl@isNotEmpty(pydm)">
                and f.PYDM like '%${pydm}%'
            </if>
        order by PYDM
    </select>
    <!--中心维护-附加项目输入法字典查询-->
    <select id="queryXmDicList" resultType="com.buit.system.response.GyYlxmDicResp">
        select
            distinct a.YBBM as ybbm,
            a.FYXH as fyxh,
            a.FYMC fymc,
            a.FYDW fydw,
            a.BZJG bzjg,
            a.XMLX xmlx,
            round(c.FYDJ, 2) as fydj ,
            a.FYGB fygb,
            c.FYKS fyks,
            c.XZSY xzsy,
            c.XZTS xzts,
            c.XZCS xzcs,
            c.SBJG sbjg
        from
            FEE_YLSFXM a,
            PUB_FYBM b,
            FEE_YLSFXMDJ c
        where
            a.FYXH = b.FYXH
            and a.FYXH = c.FYXH
            and c.ZFPB = 0
            and a.ZFPB = 0
            and c.JGID = #{jgid}
            and a.ZYSY = 1
            and b.PYDM LIKE '%${pydm}%'
        order by
            length(a.FYMC),
            a.FYMC
    </select>

    <!--中心维护-病人性质维护-费用限制-输入法字典-->
    <select id="queryBrxzDic" resultType="com.buit.his.sys.centermaintenance.response.GyFyxzDicResp">
        select
            distinct a.FYXH ,
            a.FYMC ,
            a.FYDW ,
            a.BZJG
        from
            FEE_YLSFXM a,
            PUB_FYBM b
        where
            a.FYXH = b.FYXH
            and a.ZFPB = 0
            and a.MZSY = 1
            and b.PYDM like '%${pydm}%'
        order by
            length(a.FYMC), a.FYXH
    </select>
    <select id="allInfoNoUser" resultType="com.buit.system.response.IFeeYlsfxm">
        SELECT
            a.*
        FROM
            FEE_YLSFXM a
            LEFT JOIN (select ssnm from OPT_SSFL where ysdm=0) b ON a.fyxh = b.ssnm
        WHERE
            b.ssnm IS NULL
            AND a.FYGB = 72
            AND a.ZFPB = 0
            <if test="@sqlt.Ognl@isNotEmpty(pydm)">
                AND a.PYDM like CONCAT(CONCAT('%',UPPER(#{pydm})),'%')
            </if>
    </select>
    <!--查询治疗项目的费用列表-->
    <select id="queryZlFeeYlsfxm" resultType="com.buit.system.response.GyYlxmDicResp">
        select
            distinct a.YBBM as ybbm,
            a.FYXH as fyxh,
            a.PYDM as pydm,
            a.FYMC fymc,
            a.FYDW fydw,
            a.BZJG bzjg,
            a.XMLX xmlx,
            round(c.FYDJ, 2) as fydj ,
            a.FYGB fygb,
            c.FYKS fyks,
            c.XZSY xzsy,
            c.XZTS xzts,
            c.XZCS xzcs
        from
            FEE_YLSFXM a,
            PUB_FYBM b,
            FEE_YLSFXMDJ c
        where
            a.FYXH = b.FYXH
            and a.FYXH = c.FYXH
            and c.ZFPB = 0
            and a.ZFPB = 0
            and c.JGID = #{jgid}
            and a.ZYSY = 1
            and a.xmlx=7

        order by
            length(a.FYMC),
            a.FYMC
    </select>
    <!--查询治疗收费项目输入法-->
    <select id="queryZlxmDicList" resultType="com.buit.system.response.GyYlxmDicResp">
         select
            distinct a.YBBM as ybbm,
            a.FYXH as fyxh,
            a.PYDM as pydm,
            a.FYMC fymc,
            a.FYDW fydw,
            a.BZJG bzjg,
            a.XMLX xmlx,
            round(c.FYDJ, 2) as fydj ,
            a.FYGB fygb,
            c.FYKS fyks,
            c.XZSY xzsy,
            c.XZTS xzts,
            c.XZCS xzcs
        from
            FEE_YLSFXM a,
            PUB_FYBM b,
            FEE_YLSFXMDJ c
        where
            a.FYXH = b.FYXH
            and a.FYXH = c.FYXH
            and c.ZFPB = 0
            and a.ZFPB = 0
            and c.JGID = #{jgid}
            and a.ZYSY = 1
            and (a.xmlx=7 or a.xmlx =5)
            and b.PYDM LIKE '%${pydm}%'
        order by
            length(a.FYMC),
            a.FYMC
    </select>

    <!-- 查询项目商保价格等 -->
    <select id="queryXmSbjg" resultType="java.util.HashMap">
		        SELECT ifnull(a.FYDJ,0) AS FYDJ, ifnull(b.SBJG,0) AS SBJG
		  FROM FEE_YLSFXM a, FEE_YLSFXMDJ b
		 WHERE a.FYXH = b.FYXH
		   AND a.ZFPB = 0
		   AND a.FYXH = #{fyxh}
    </select>

    <!-- 查询备血申请项目 -->
    <select id="queryBxxm" resultType="com.buit.his.sys.centermaintenance.response.FeeYlsfxmBxResp">
		      select distinct a.FYXH as SXPZDM,
                        a.FYMC as SXPZMC,
                        a.FYDW as DW,
                        a.BZJG as BZJG,
                        a.XMLX as XMLX,
                        c.FYDJ as DJ,
                        c.SBJG as SBJG,
                        a.FYGB as FYGB,
                        c.FYKS as FYKS
          from FEE_YLSFXM a, PUB_FYBM b, FEE_YLSFXMDJ c
         where a.FYXH = b.FYXH
           and a.FYXH = c.FYXH
           and c.ZFPB = 0
           and a.ZFPB = 0
           and a.FYGB = #{fygb}
           and c.JGID = #{jgid}
           <if test="@sqlt.Ognl@isNotEmpty(pydm)">
           	   and b.PYDM like CONCAT(CONCAT('%',UPPER(#{pydm})),'%')
           </if>
         order by a.FYXH ASC
    </select>

    <!-- 病区医嘱项目输入法(包含中文) -->
    <select id="queryProjectOrder" resultType="com.buit.system.response.FeeYlsfxmProjectSrfApiResp">
        select distinct
        a.FYXH,
        a.FYMC as YZMC,
        a.FYDW,
        a.BZJG,
        a.XMLX,
        <choose>
            <when test="@sqlt.Ognl@isNotEmpty(brxz) and brxz == 6024 ">
                '自费项目' as YBBM,
                c.SBJG as FYDJ,
            </when>
            <otherwise>
                a.YBBM,
                c.FYDJ,
            </otherwise>
        </choose>
        a.FYGB,
        c.FYKS,
        0 as YPLX,
        a.YJSY,
        a.XMBM
        from FEE_YLSFXM a, PUB_FYBM b, FEE_YLSFXMDJ c
        where a.FYXH = b.FYXH
        and a.FYXH = c.FYXH
        and c.ZFPB = 0
        and a.ZFPB = 0
        and a.ZYSY = 1
        and (a.JCSQ = 0 or a.JCSQ is null)
        and c.JGID = #{jgid}
        and a.XMLX not in (4, 6, 10)
        and (a.JCSQ = 0 or a.JCSQ is null) 
        <if test="@sqlt.Ognl@isNotEmpty(pydm)">
            and ${zdlx} like concat(concat('%',#{pydm}),'%')
        </if>
        <if test="@sqlt.Ognl@isNotEmpty(fyxh)">
            and a.FYXH = #{fyxh}
        </if>
        order by length(a.FYMC), a.FYMC
    </select>

    <!-- 查询费用记账项目输入法 -->
    <select id="queryExpenseAccounting" resultType="com.buit.system.response.FeeYlsfxmProjectSrfResp">
        select distinct
        <choose>
            <when test="@sqlt.Ognl@isNotEmpty(brxz) and brxz == 6024 ">
                round(c.SBJG, 4) as FYDJ,
            </when>
            <otherwise>
                a.YBBM,
                round(c.FYDJ,4) as FYDJ,
            </otherwise>
        </choose>
        a.FYXH as FYXH,
        a.FYMC as FYMC,
        a.FYDW as FYDW,
        a.FYGB as FYGB,
        a.XMLX as XMLX,
        c.FYKS as FYKS,
        d.OFFICENAME as CDMC,
        a.CLDYM as CLDYM,
        a.XMBM
        from FEE_YLSFXM a, PUB_FYBM b, FEE_YLSFXMDJ c
        left outer join DIC_KSZD d
        on d.ID = c.FYKS
        where a.FYXH = b.FYXH
        AND a.FYXH = c.FYXH
        AND a.ZYSY = 1
        AND a.ZFPB = 0
        AND c.ZFPB = 0
        AND c.JGID = #{jgid}
        <if test="@sqlt.Ognl@isNotEmpty(pydm)">
            and b.pydm like concat(concat('%',#{pydm}),'%')
        </if>
    </select>
    <!--手麻卫生材料收费项目输入法-->
    <select id="querySsInputMaterial" resultType="com.buit.system.response.SsInputResp">
         select
                    distinct a.YBBM as ybbm,
                    a.FYXH as fyxh,
                    a.PYDM as pydm,
                    a.FYMC fymc,
                    a.FYDW fydw,
                    a.BZJG bzjg,
                    a.XMLX xmlx,
                    round(c.FYDJ, 2) as fydj ,
                    a.FYGB fygb,
                    c.FYKS fyks,
                    c.XZSY xzsy,
                    c.XZTS xzts,
                    c.XZCS xzcs
                from
                    FEE_YLSFXM a,
                    PUB_FYBM b,
                    FEE_YLSFXMDJ c
                where
                    a.FYXH = b.FYXH
                    and a.FYXH = c.FYXH
                    and c.ZFPB = 0
                    and a.ZFPB = 0
                    and c.JGID = #{jgid}
                    and a.ZYSY = 1
                    and a.xmlx=10
                    and b.PYDM LIKE '%${pydm}%'
                order by
                    length(a.FYMC),
                    a.FYMC
    </select>
    <!--手麻收费项目输入法-->
    <select id="querySsInputItem" resultType="com.buit.system.response.SsInputResp">
        select
                            distinct a.YBBM as ybbm,
                            a.FYXH as fyxh,
                            a.PYDM as pydm,
                            a.FYMC fymc,
                            a.FYDW fydw,
                            a.BZJG bzjg,
                            a.XMLX xmlx,
                            round(c.FYDJ, 2) as fydj ,
                            a.FYGB fygb,
                            c.FYKS fyks,
                            c.XZSY xzsy,
                            c.XZTS xzts,
                            c.XZCS xzcs
                        from
                            FEE_YLSFXM a,
                            PUB_FYBM b,
                            FEE_YLSFXMDJ c
                        where
                            a.FYXH = b.FYXH
                            and a.FYXH = c.FYXH
                            and c.ZFPB = 0
                            and a.ZFPB = 0
                            and c.JGID = #{jgid}
                            and a.ZYSY = 1
                            and a.xmlx!=10
                            and b.PYDM LIKE '%${pydm}%'
                        order by
                            length(a.FYMC),
                            a.FYMC
    </select>

    <!-- 项目调价输入法 -->
    <select id="queryModifyPricecFeeYlsfxm" resultType="com.buit.his.sys.centermaintenance.response.FeeYlsfxmPriceSrfResp">
        select a.FYXH as FYXH,
        a.FYMC as FYMC,
        a.FYDW as FYDW,
        a.FYGB as FYGB,
        a.BZJG as BZJG,
        b.FYDJ as FYDJ,
        c.SFMC as FYGBTEXT
        from FEE_YLSFXM a, FEE_YLSFXMDJ b, DIC_SFXMLB c
        where a.FYXH = b.FYXH
        and a.FYGB = c.SFXM
        and b.ZFPB = 0
        and b.JGID = #{jgid}
        <if test="@sqlt.Ognl@isNotEmpty(pydm)">
            and ${cxlb} like CONCAT(CONCAT('%',UPPER(#{pydm})),'%')
        </if>
    </select>
    <select id="queryInnerDjByFyxh" resultType="com.buit.system.response.FeeYlsfxmOutResp">
        select a.fyxh,a.fygb,b.fyks,b.fydj
        from fee_ylsfxm a
        inner join fee_ylsfxmdj b on a.fyxh=b.fyxh
        where b.jgid=#{jgid} and a.fyxh in (<foreach collection="list" item="f" separator=",">#{f}</foreach>)
    </select>
    
    <!-- 查询床位费用字典 -->
    <select id="queryCwszFyDic" resultType="com.buit.system.response.FeeYlsfxmOutResp">
        select a.fyxh, a.fymc, a.fydw, b.fydj
          from fee_ylsfxm a
        inner join fee_ylsfxmdj b on a.fyxh = b.fyxh
        where a.zfpb = 0
		and b.zfpb = 0
		and b.jgid = #{jgid}
		<if test="@sqlt.Ognl@isNotEmpty(pydm)">
            and a.pydm like concat(concat('%',UPPER(#{pydm})),'%')
        </if>
    </select>
</mapper>

