<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 所属时段 -->
<mapper namespace="com.buit.his.sys.centermaintenance.dao.OpSssdDao">

    <!-- 用于select查询公用抽取的列 -->
    <sql id="columns">
        SSSDID as sssdid,VALUE as value,SFXS as sfxs
    </sql>

    <insert id="insert">
        INSERT INTO OP_SSSD (
            SSSDID ,
            VALUE ,
            SFXS 
        ) VALUES (
            #{sssdid} ,
            #{value} ,
            #{sfxs} 
        )
    </insert>
    
    <update id="update" >  
        UPDATE OP_SSSD SET
            VALUE = #{value} ,
            SFXS = #{sfxs} 
        WHERE 
            SSSDID = #{sssdid}           
    </update>

    <delete id="deleteById">
        DELETE FROM OP_SSSD WHERE
        SSSDID = #{sssdid} 
    </delete>
    
    <delete id="removeByEntity">
        DELETE FROM OP_SSSD <include refid="where"/>  
    </delete>
    
    <select id="getById" resultType="OpSssd">
        SELECT <include refid="columns" />
            FROM OP_SSSD 
            WHERE 
        SSSDID = #{sssdid} 
    </select>
    
    <sql id="where">
        <where>                          
<!--                <if test="@sqlt.Ognl@isNotEmpty(sssdid)"> -->
<!--                     AND SSSDID = #{sssdid} -->
<!--                </if> -->
<!--                <if test="@sqlt.Ognl@isNotEmpty(value)"> -->
<!--                     AND VALUE = #{value} -->
<!--                </if> -->
                <if test="@sqlt.Ognl@isNotEmpty(sfxs)">
                     AND SFXS = #{sfxs}
                </if>
        </where>
    </sql>
        
    <select id="findByEntityCount" resultType="long">
        SELECT count(*) FROM OP_SSSD 
        <include refid="where"/>    
    </select>
    
    <select id="findByEntity" resultType="OpSssd">
        SELECT <include refid="columns" />
        FROM OP_SSSD 
        <include refid="where"/>
        
        <if test="@sqlt.Ognl@orderIsNotEmpty(sortColumns)">
            ORDER BY ${sortColumns}
        </if>
    </select>
    <!--     业务sql      -->
</mapper>

