<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 公用_个人常用诊断表 -->
<mapper namespace="com.buit.his.sys.centermaintenance.dao.PubCyzdDao">

    <!-- 用于select查询公用抽取的列 -->
    <sql id="columns">
        JLBH as jlbh,SSLB as sslb,YGDM as ygdm,ZDXH as zdxh,ZDMC as zdmc,ICD10 as icd10,PYDM as pydm,JGID as jgid,KSDM as ksdm,CFLX as cflx,WBDM as wbdm,CDMZZD as cdmzzd
    </sql>

    <insert id="insert">
        INSERT INTO PUB_CYZD (
            JLBH ,
            SSLB ,
            YGDM ,
            ZDXH ,
            ZDMC ,
            ICD10 ,
            PYDM ,
            JGID ,
            KSDM ,
            CFLX ,
            WBDM ,
            CDMZZD 
        ) VALUES (
            #{jlbh} ,
            #{sslb} ,
            #{ygdm} ,
            #{zdxh} ,
            #{zdmc} ,
            #{icd10} ,
            #{pydm} ,
            #{jgid} ,
            #{ksdm} ,
            #{cflx} ,
            #{wbdm} ,
            #{cdmzzd} 
        )
    </insert>
    
    <update id="update" ><!--  
        UPDATE PUB_CYZD SET
            SSLB = #{sslb} ,
            YGDM = #{ygdm} ,
            ZDXH = #{zdxh} ,
            ZDMC = #{zdmc} ,
            ICD10 = #{icd10} ,
            PYDM = #{pydm} ,
            JGID = #{jgid} ,
            KSDM = #{ksdm} ,
            CFLX = #{cflx} ,
            WBDM = #{wbdm} ,
            CDMZZD = #{cdmzzd} 
        WHERE 
            JLBH = #{jlbh} 
            -->            
    </update>

    <delete id="deleteById">
        DELETE FROM PUB_CYZD WHERE
        JLBH = #{jlbh} 
    </delete>
    
    <delete id="removeByEntity">
        DELETE FROM PUB_CYZD <include refid="where"/>  
    </delete>
    
    <select id="getById" resultType="PubCyzd">
        SELECT <include refid="columns" />
            FROM PUB_CYZD 
            WHERE 
        JLBH = #{jlbh} 
    </select>
    
    <sql id="where">
        <where>                          
<!--                <if test="@sqlt.Ognl@isNotEmpty(jlbh)"> -->
<!--                     AND JLBH = #{jlbh} -->
<!--                </if> -->
<!--                <if test="@sqlt.Ognl@isNotEmpty(sslb)"> -->
<!--                     AND SSLB = #{sslb} -->
<!--                </if> -->
                <if test="@sqlt.Ognl@isNotEmpty(ygdm)">
                     AND YGDM = #{ygdm}
                </if>
                <if test="@sqlt.Ognl@isNotEmpty(zdxh)">
                     AND ZDXH = #{zdxh}
                </if>
<!--                <if test="@sqlt.Ognl@isNotEmpty(zdmc)"> -->
<!--                     AND ZDMC = #{zdmc} -->
<!--                </if> -->
<!--                <if test="@sqlt.Ognl@isNotEmpty(icd10)"> -->
<!--                     AND ICD10 = #{icd10} -->
<!--                </if> -->
<!--                <if test="@sqlt.Ognl@isNotEmpty(pydm)"> -->
<!--                     AND PYDM = #{pydm} -->
<!--                </if> -->
                <if test="@sqlt.Ognl@isNotEmpty(jgid)">
                     AND JGID = #{jgid}
                </if>
<!--                <if test="@sqlt.Ognl@isNotEmpty(ksdm)"> -->
<!--                     AND KSDM = #{ksdm} -->
<!--                </if> -->
                <if test="@sqlt.Ognl@isNotEmpty(cflx)">
                     AND CFLX = #{cflx}
                </if>
<!--                <if test="@sqlt.Ognl@isNotEmpty(wbdm)"> -->
<!--                     AND WBDM = #{wbdm} -->
<!--                </if> -->
<!--                <if test="@sqlt.Ognl@isNotEmpty(cdmzzd)"> -->
<!--                     AND CDMZZD = #{cdmzzd} -->
<!--                </if> -->
        </where>
    </sql>
        
    <select id="findByEntityCount" resultType="Integer">
        SELECT count(*) FROM PUB_CYZD 
        <include refid="where"/>    
    </select>
    
    <select id="findByEntity" resultType="PubCyzd">
        SELECT <include refid="columns" />
        FROM PUB_CYZD 
        <include refid="where"/>
        
        <if test="@sqlt.Ognl@orderIsNotEmpty(sortColumns)">
            ORDER BY ${sortColumns}
        </if>
    </select>
    <!--     业务sql      -->
    <select id="query" resultType="IPubCyzdResp">
        SELECT
            cyzd.jlbh AS jlbh,
            cyzd.sslb AS sslb,
            cyzd.ygdm AS ygdm,
            cyzd.ksdm AS ksdm,
            cyzd.zdmc AS zdmc,
            cyzd.zdxh AS zdxh,
            cyzd.icd10 AS icd10,
            cyzd.pydm AS pydm,
            cyzd.wbdm AS wbdm,
            cyzd.jgid AS jgid,
            cyzd.cflx AS cflx,
            cyzd.cdmzzd AS cdmzzd
        FROM
            PUB_CYZD cyzd
        WHERE
            cyzd.JGID = #{jgid}
            AND cyzd.YGDM = #{ygdm}
            <if test="@sqlt.Ognl@isNotEmpty(cflx)">
                AND cyzd.CFLX = #{cflx}
            </if>
            <if test="@sqlt.Ognl@isNotEmpty(sslb)">
                AND cyzd.SSLB = #{sslb}
            </if>
            <if test="@sqlt.Ognl@isNotEmpty(pydm)">
                AND cyzd.PYDM like CONCAT(CONCAT('%',UPPER(#{pydm})),'%')
            </if>
        ORDER BY
            cyzd.JLBH DESC
    </select>
</mapper>

