<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 公用_费用别名 -->
<mapper namespace="com.buit.his.sys.centermaintenance.dao.PubFybmDao">

    <!-- 用于select查询公用抽取的列 -->
    <sql id="columns">
        BMXH as bmxh,FYXH as fyxh,PYDM as pydm,FYMC as fymc,BMFL as bmfl,WBDM as wbdm,JXDM as jxdm,QTDM as qtdm,BHDM as bhdm
    </sql>

    <insert id="insert">
        INSERT INTO PUB_FYBM (
            BMXH ,
            FYXH ,
            PYDM ,
            FYMC ,
            BMFL ,
            WBDM ,
            JXDM ,
            QTDM ,
            BHDM 
        ) VALUES (
            #{bmxh} ,
            #{fyxh} ,
            #{pydm} ,
            #{fymc} ,
            #{bmfl} ,
            #{wbdm} ,
            #{jxdm} ,
            #{qtdm} ,
            #{bhdm} 
        )
    </insert>
    
    <update id="update" ><!--  
        UPDATE PUB_FYBM SET
            FYXH = #{fyxh} ,
            PYDM = #{pydm} ,
            FYMC = #{fymc} ,
            BMFL = #{bmfl} ,
            WBDM = #{wbdm} ,
            JXDM = #{jxdm} ,
            QTDM = #{qtdm} ,
            BHDM = #{bhdm} 
        WHERE 
            BMXH = #{bmxh} 
            -->            
    </update>

    <delete id="deleteById">
        DELETE FROM PUB_FYBM WHERE
        BMXH = #{bmxh} 
    </delete>
    
    <delete id="removeByEntity">
        DELETE FROM PUB_FYBM <include refid="where"/>  
    </delete>
    
    <select id="getById" resultType="PubFybm">
        SELECT <include refid="columns" />
            FROM PUB_FYBM 
            WHERE 
        BMXH = #{bmxh} 
    </select>
    
    <sql id="where">
        <where>                          
<!--                <if test="@sqlt.Ognl@isNotEmpty(bmxh)"> -->
<!--                     AND BMXH = #{bmxh} -->
<!--                </if> -->
                <if test="@sqlt.Ognl@isNotEmpty(fyxh)">
                     AND FYXH = #{fyxh} 
                </if> 
<!--                <if test="@sqlt.Ognl@isNotEmpty(pydm)"> -->
<!--                     AND PYDM = #{pydm} -->
<!--                </if> -->
<!--                <if test="@sqlt.Ognl@isNotEmpty(fymc)"> -->
<!--                     AND FYMC = #{fymc} -->
<!--                </if> -->
<!--                <if test="@sqlt.Ognl@isNotEmpty(bmfl)"> -->
<!--                     AND BMFL = #{bmfl} -->
<!--                </if> -->
<!--                <if test="@sqlt.Ognl@isNotEmpty(wbdm)"> -->
<!--                     AND WBDM = #{wbdm} -->
<!--                </if> -->
<!--                <if test="@sqlt.Ognl@isNotEmpty(jxdm)"> -->
<!--                     AND JXDM = #{jxdm} -->
<!--                </if> -->
<!--                <if test="@sqlt.Ognl@isNotEmpty(qtdm)"> -->
<!--                     AND QTDM = #{qtdm} -->
<!--                </if> -->
<!--                <if test="@sqlt.Ognl@isNotEmpty(bhdm)"> -->
<!--                     AND BHDM = #{bhdm} -->
<!--                </if> -->
        </where>
    </sql>
        
    <select id="findByEntityCount" resultType="long">
        SELECT count(*) FROM PUB_FYBM 
        <include refid="where"/>    
    </select>
    
    <select id="findByEntity" resultType="PubFybm">
        SELECT <include refid="columns" />
        FROM PUB_FYBM 
        <include refid="where"/>
        
        <if test="@sqlt.Ognl@orderIsNotEmpty(sortColumns)">
            ORDER BY ${sortColumns}
        </if>
    </select>
    <!--     业务sql      -->
</mapper>

