<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 付款类别 -->
<mapper namespace="com.buit.his.sys.centermaintenance.dao.PubFklbDao">

    <!-- 用于select查询公用抽取的列 -->
    <sql id="columns">
        FKLB as fklb,LBMC as lbmc,MZSY as mzsy,ZYSY as zysy
    </sql>

    <insert id="insert">
        INSERT INTO PUB_FKLB (
            FKLB ,
            LBMC ,
            MZSY ,
            ZYSY
        ) VALUES (
            #{fklb} ,
            #{lbmc} ,
            #{mzsy} ,
            #{zysy}
        )
    </insert>

    <update id="update" >
        UPDATE PUB_FKLB SET
            LBMC = #{lbmc},
            MZSY = #{mzsy},
            ZYSY = #{zysy}
        WHERE
            FKLB = #{fklb}
    </update>

    <delete id="deleteById">
        DELETE FROM PUB_FKLB WHERE
        FKLB = #{fklb} 
    </delete>
    
    <delete id="removeByEntity">
        DELETE FROM PUB_FKLB <include refid="where"/>  
    </delete>
    
    <select id="getById" resultType="com.buit.his.sys.centermaintenance.model.PubFklb">
        SELECT <include refid="columns" />
            FROM PUB_FKLB 
            WHERE 
        FKLB = #{fklb} 
    </select>
    
    <sql id="where">
        <where>                          
            <if test="@sqlt.Ognl@isNotEmpty(fklb)">
                 AND FKLB = #{fklb}
            </if>
            <if test="@sqlt.Ognl@isNotEmpty(lbmc)">
                 AND LBMC = #{lbmc}
            </if>
            <if test="@sqlt.Ognl@isNotEmpty(mzsy)">
                 AND MZSY = #{mzsy}
            </if>
            <if test="@sqlt.Ognl@isNotEmpty(zysy)">
                 AND ZYSY = #{zysy}
            </if>
        </where>
    </sql>
        
    <select id="findByEntityCount" resultType="long">
        SELECT count(*) FROM PUB_FKLB 
        <include refid="where"/>    
    </select>
    
    <select id="findByEntity" resultType="com.buit.his.sys.centermaintenance.model.PubFklb">
        SELECT <include refid="columns" />
        FROM PUB_FKLB 
        <include refid="where"/>
        
        <if test="@sqlt.Ognl@orderIsNotEmpty(sortColumns)">
            ORDER BY ${sortColumns}
        </if>
    </select>
    <!--     业务sql      -->
</mapper>

