<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 行政区划表 -->
<mapper namespace="com.buit.his.dic.dao.DicXzqhDao">

    <!-- 用于select查询公用抽取的列 -->
    <sql id="columns">
        id as id,name as name,level as level,parent_id as parentId,PY_CODE as pyCode,WB_CODE as wbCode, VERSION as version
    </sql>

    <insert id="insert">
        INSERT INTO DIC_XZQH (
            id ,
            name ,
            level ,
            parent_id ,
            PY_CODE ,
            WB_CODE ,
            VERSION
        ) VALUES (
            #{id} ,
            #{name} ,
            #{level} ,
            #{parentId} ,
            #{pyCode} ,
            #{wbCode} ,
            #{version}
        )
    </insert>

    <update id="update">
        UPDATE DIC_XZQH SET
            name = #{name} ,
            level = #{level} ,
            parent_id = #{parentId} ,
            PY_CODE = #{pyCode} ,
            WB_CODE = #{wbCode} ,
            VERSION = #{version}
        WHERE
            id = #{id}
    </update>

    <delete id="deleteById">
        DELETE FROM DIC_XZQH WHERE
        id = #{id}
    </delete>

    <delete id="removeByEntity">
        DELETE FROM DIC_XZQH <include refid="where"/>
    </delete>

    <select id="getById" resultType="DicXzqh">
        SELECT <include refid="columns" />
            FROM DIC_XZQH
            WHERE
        id = #{id}
    </select>

    <sql id="where">
        <where>
            <if test="@sqlt.Ognl@isNotEmpty(id)">
                 AND id = #{id}
            </if>
            <if test="@sqlt.Ognl@isNotEmpty(name)">
                 AND name = #{name}
            </if>
            <if test="@sqlt.Ognl@isNotEmpty(level)">
                AND level = #{level}
            </if>
            <if test="@sqlt.Ognl@isNotEmpty(parentId)">
                AND parent_id = #{parentId}
            </if>
            <if test="@sqlt.Ognl@isNotEmpty(pyCode)">
                AND PY_CODE = #{pyCode}
            </if>
            <if test="@sqlt.Ognl@isNotEmpty(wbCode)">
                AND WB_CODE = #{wbCode}
            </if>
            <if test="@sqlt.Ognl@isNotEmpty(version)">
                AND VERSION = #{version}
            </if>
        </where>
    </sql>

    <select id="findByEntityCount" resultType="long">
        SELECT count(*) FROM DIC_XZQH
        <include refid="where"/>
    </select>

    <select id="findByEntity" resultType="DicXzqh">
        SELECT <include refid="columns" />
        FROM DIC_XZQH
        <include refid="where"/>

        <if test="@sqlt.Ognl@orderIsNotEmpty(sortColumns)">
            ORDER BY ${sortColumns}
        </if>
    </select>
    <!--     业务sql      -->
    <select id="getSsxmc" resultType="java.lang.String">
        SELECT name
        FROM DIC_XZQH
        where ID = #{code}
    </select>
</mapper>

